<html>
<head>
    <title>WATT UCLA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Roboto" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="img/faviconsFull/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/faviconsFull/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/faviconsFull/favicon-16x16.png">
    <link rel="manifest" href="img/faviconsFull/manifest.json">
    <link rel="mask-icon" href="img/faviconsFull/safari-pinned-tab.svg" color="#00e3b8">
    <meta name="apple-mobile-web-app-title" content="WATT">
    <meta name="application-name" content="WATT">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- <script src="../js/parallax.min.js"></script> -->
    <script src="../js/main.js"></script>
</head>
<body>
    <div>
        <div>
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" id="navbar-brand" href="/"><img id="nav-logo" src="img/watt-logo-green.png">IEEE WATT</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/team">Team</a></li>
                        <li><a href="/families">Families</a></li>
                        <li><a href="/contact">Contact</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EVENTS</span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/calendar">Calendar</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/projects">Projects</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SPONSORS</span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/sponsor">Apply to Sponsor</a></li>
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="/memes">Thank You</a></li>
                      </ul>
                    </li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/shop">SHOP</a></li>

                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>

        </div>
