{{> header}}

<div class="page-body">
    <div class="page-cover-photo applytosponsor-photo">
        <div class="page-heading">Apply to Sponsor</div>
    </div>
    <div class="page-wrapper home-container container">
        <div class="home-div">
            <div class="page-content fam-card sponsor-overview-img col xs-24 sm-24 md-9"></div>
            <div class="page-content fam-card col sm-24 md-15">
                <p class="card-title">OVERVIEW</p>
                <p class="fam-card-description">UCLA WATT (Women Advancing Technology through Teamwork) is the UCLA chapter of IEEE-WIE (Women in Engineering). WATT’s goal is to create a space to support minorities within the EE community, particularly women. WATT uses electrical engineering as a common interest in order to build a community of confident, socially aware engineers. The emPower mentorship program matches up first- and second-year students with upperclassmen who guide their mentees through their time at UCLA, be it academically, technically, socially, or professionally. Technical and professional workshops are also held throughout the year. They serve as opportunities for members to build their technical skills through tinkering workshops such as wearables workshops, as well as to network with the surrounding EE community through networking events like a dinner with Intel. WATT is also unique in its focus on advocacy and mental health. WATT holds many workshops that pertain to social issues such as unconscious bias, imposter syndrome, and LGBT issues, as well as workshops related to health such as meditation, depression and anxiety, and productivity workshops.
                </p>
                <p class="fam-card-description">Because of the help from sponsors, WATT is able to connect members with professionals in the work force, hold technical workshops for students to further develop skills, and strengthen the minority presence within UCLA’s engineering school.</p>
            </div>
        </div>
        <div class="home-div">
            <div class="page-content fam-card home-join-card col xs-24 sm-24 md-10">
                <p class="sponsor-card-title">Tinkering</p>
                <p class="fam-card-description">You will help fund workshops that include subjects like wearables, simple circuits, and microcontrollers. By encouraging a more welcoming environment into an intimidating field like electrical engineering, you will help beginners grow more comfortable into making more advanced projects themselves.</p>
                <p class="sponsor-card-title">Mentorship</p>
                <p class="fam-card-description">You will help nurture a space for underclassmen to learn from upperclassmen by funding us to organize professional development workshops, resume workshops, socials, and team bonding events. With more guidance, underclassmen will be able to learn how to be successful at UCLA and beyond!</p>
                <p class="sponsor-card-title">Outreach</p>
                <p class="fam-card-description">You will help inspire younger girls to pursue a career in engineering and educate them about electrical engineering. With the right supplies and transportation, WATT can make a bigger impact in the surrounding community.</p>
                <p class="sponsor-card-title">Retention</p>
                <p class="fam-card-description">You will help retain students, especially minorities, in engineering by funding us to host imposter syndrome info sessions, mental health awareness talks, and socials to destress during testing seasons. By encouraging students to stay in EE and other related fields, we can build a more diverse and friendly learning environment. </p>

            </div>
            <div class="page-content fam-card sponsor-help-img col xs-24 sm-24 md-14"></div>
        </div>
        <div class="home-div">
            <div class="flickrwrap tiers-wrap col xs-24 sm-24 md-24">
                <img src="img/sponsors/tiers.png" alt="WATT Sponsorship Tiers" class="project-img">
            </div>
        </div>
    </div>
</div>
{{> footer}}
