{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/valentines.jpg)">
    <div class="page-heading">Apply to Sponsor</div>
</div>
<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="home-div">
            <div class="page-content fam-card sponsor-overview-img col xs-24 sm-24 md-9"></div>
            <div class="page-content fam-card col sm-24 md-15">
                <p class="card-title">OVERVIEW</p>
                <p class="fam-card-description">UCLA WATT (Women Advancing Technology through Teamwork) is the UCLA chapter of IEEE-WIE (Women in Engineering). WATT seeks to create a space that wholeheartedly supports women and other minorities in Electrical and Computer Engineering. We build a community of intelligent, confident, and socially aware engineers through our shared interest in EE and CE. The HogWATTs mentorship program matches first and second-year students with upperclassmen and alumni who guide their mentees through their time at UCLA, providing help academically, technically, socially, and professionally. Additionally, we hold technical and professional workshops like networking dinners to help our members advance their skills and provide opportunities to connect within the engineering community.                </p>
                <p class="fam-card-description">WATT is unique in our focus on advocacy and mental health. We hold frequent workshops pertaining to social issues such as unconscious bias and imposter syndrome, LGBT issues, and health issues like depression and anxity. We care not only about the academic and professional success of our members, but also about their well-being and social responsibility.</p>
            </div>
        </div>
        <div class="home-div">
            <div class="page-content fam-card home-join-card col xs-24 sm-24 md-10">
                <p class="sponsor-green-subtitle">Tinkering</p>
                <p class="fam-card-description">You will help fund workshops that include subjects like wearables, simple circuits, and microcontrollers. By encouraging a more welcoming environment into an intimidating field like electrical engineering, you will help beginners grow more comfortable into making more advanced projects themselves.</p>
                <p class="sponsor-green-subtitle">Mentorship</p>
                <p class="fam-card-description">You will help nurture a space for underclassmen to learn from upperclassmen by funding us to organize professional development workshops, resume workshops, socials, and team bonding events. With more guidance, underclassmen will be able to learn how to be successful at UCLA and beyond!</p>
                <p class="sponsor-green-subtitle">Outreach</p>
                <p class="fam-card-description">You will help inspire younger girls to pursue a career in engineering and educate them about electrical engineering. With the right supplies and transportation, WATT can make a bigger impact in the surrounding community.</p>
                <p class="sponsor-green-subtitle">Retention</p>
                <p class="fam-card-description">You will help retain students, especially minorities, in engineering by funding us to host imposter syndrome info sessions, mental health awareness talks, and socials to destress during testing seasons. By encouraging students to stay in EE and other related fields, we can build a more diverse and friendly learning environment. </p>

            </div>
            <div class="page-content fam-card sponsor-help-img col xs-24 sm-24 md-14"></div>
        </div>
        <div class="home-div">
            <div class="flickrwrap tiers-wrap col xs-24 sm-24 md-24">
                <img src="img/sponsors/tiers.png" alt="WATT Sponsorship Tiers" class="project-img">
            </div>
        </div>
    </div>
</div>
{{> footer}}
