{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/valentines.jpg)">
    <div class="page-heading">Apply to Sponsor</div>
</div>
<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="home-div">
            <div class="page-content fam-card sponsor-overview-img col xs-24 sm-24 md-9"></div>
            <div class="page-content fam-card col sm-24 md-15">
                <p class="card-title">OVERVIEW</p>
                <p class="fam-card-description">UCLA WATT (Women Advancing Technology through Teamwork) is the UCLA chapter of IEEE-WIE (Women in Engineering). WATT seeks to create a space that wholeheartedly supports women and other minorities in Electrical and Computer Engineering. We build a community of intelligent, confident, and socially aware engineers through our shared interest in EE and CE. The HogWATTs mentorship program matches first and second-year students with upperclassmen and alumni who guide their mentees through their time at UCLA, providing help academically, technically, socially, and professionally. Additionally, we hold technical and professional workshops like networking dinners to help our members advance their skills and provide opportunities to connect within the engineering community.                </p>
                <p class="fam-card-description">WATT is unique in our focus on advocacy and mental health. We hold frequent workshops pertaining to social issues such as unconscious bias and imposter syndrome, LGBT issues, and health issues like depression and anxiety. We care not only about the academic and professional success of our members, but also about their well-being and social responsibility.</p>
            </div>
        </div>
        <div class="home-div">
            <div class="page-content fam-card home-join-card">
                <p class="sponsor-yellow-title">Now is the best time to sponsor WATT, and here’s why:</p>
                <p class="fam-card-description">The help of our sponsors allows WATT to connect members with professionals in the workforce, hold technical workshops for students to further their skills, and strengthen the minority presence within UCLA’s engineering school.</p>
                <p class="sponsor-green-title">As a sponsor you will help...</p>
                <i class="fas fa-hand-holding-usd"></i>
                <p>
                    <span class="sponsor-green-subtitle">FUND</span>
                    <span class="fam-card-description">workshops on topics like wearables, simple circuits, and microcontrollers. By building a welcoming environment within the intimidating field of electrical and computer engineering, you will help new students gain the confidence required to tackle more advanced projects on their own.</span>
                </p>
                <p>
                    <span class="sponsor-green-subtitle">NURTURE</span>
                    <span class="fam-card-description">a safe space for underclassmen to connect and learn from upperclassmen through sponsored socials, community bonding events, and professional development workshops. With more guidance, underclassmen will be able to learn how to be successful at UCLA and beyond!</span>
                </p>
                <p>
                    <span class="sponsor-green-subtitle">INSPIRE</span>
                    <span class="fam-card-description">younger girls and minority students to pursue a career in engineering through outreach and education on electrical and computer engineering. With funding for supplies and transportation, WATT can teach younger students about electrical and computer engineering and make a greater impact in the surrounding community.</span>
                </p>
                <p>
                    <span class="sponsor-green-subtitle">RETAIN</span>
                    <span class="fam-card-description">students, especially those in the minority, in electrical and computer engineering by providing the resources for imposter syndrome info sessions, mental health awareness talks, and de-stressing social events during testing season. A welcoming community encourages students to continue their EE and CE careers, leading to a brighter, friendlier and more diverse future.</span>
                </p>
            </div>
            {{!-- <div class="page-content fam-card sponsor-help-img col xs-24 sm-24 md-14"></div> --}}
        </div>
        <div class="home-div">
            <div class="flickrwrap tiers-wrap col xs-24 sm-24 md-24">
                <img src="img/sponsors/tiers.png" alt="WATT Sponsorship Tiers" class="project-img">
            </div>
        </div>
    </div>
</div>
{{> footer}}
