{{> header}}

<div class="page-body">
    <div class="page-cover-photo">
        <div class="page-heading">Calendar</div>
    </div>
    <div class="page-wrapper">
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=wie.ieee.ucla%40gmail.com&amp;color=%235F6B02&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>

</div>
{{> footer}}
