{{> header}}
<div class="page-cover-photo"  style="--img: url(../img/backgroundphotos/ssuport.png)">
    {{!-- <div class="page-heading">Donate</div> --}}
</div>
<div class="page-body" style="font-family: 'Indie Flower', regular;">
    <div class="page-wrapper home-container container">
        <div class="home-div">
            <div class="page-content fam-card col sm-24 md-24 lg-24">
                {{!-- <p class="card-title">Donation Information</p> --}}
                <div class="handwritten-h2" style="font-family: 'Indie Flower', regular;">
                    Donation Information
                </div>
                <div class="page-wrapper home-container container" style="padding: 0px;">
                    <div class="home-div" >
                        <div class="home-whatwedo" style="padding:auto;">
                            <div class="custom-container1">
                                <img src="img/donations/donations.png">
                            </div>
                            <div class="custom-container1">
                                <p class="fam-card-description">For donation and UCLA Foundation related inquiries, please contact Elisabeth Leavitt, Associate Director of Development, Corporate and Foundation Relations, UCLA Samueli School of Engineering at <a href="mailto:ekealy@support.ucla.edu">ekealy@support.ucla.edu</a>.</p> 
                                <p class="fam-card-description">You can donate online by credit card or PayPal: <a href="https://giving.ucla.edu/campaign/donate.aspx?Fund=12740c&Code=M-44445" target="_blank">https://giving.ucla.edu/campaign/donate.aspx?Fund=12740c&Code=M-44445</a> Donations through this link are through the UCLA Foundation which has an EIN: 95-2250801</p>
                                <p class="fam-card-description">More tax details can be found here: <a href="https://www.uclafoundation.org/Resources/Tools" target="_blank">https://www.uclafoundation.org/Resources/Tools</a></p>
                                <p class="fam-card-description">Donations are typically for individuals who wish to contribute on their own. If you are interested in contributing on behalf of your organization or company please look at our <a href="/applytosponsor">Becoming A Sponsor</a> page for more details.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <p class="fam-card-description">For donation and UCLA Foundation related inquiries, please contact Elisabeth Leavitt, Associate Director of Development, Corporate and Foundation Relations, UCLA Samueli School of Engineering at <a href="mailto:ekealy@support.ucla.edu">ekealy@support.ucla.edu</a>.</p> 
                <p class="fam-card-description">You can donate online by credit card or PayPal: <a href="https://giving.ucla.edu/campaign/donate.aspx?Fund=12740c&Code=M-44445" target="_blank">https://giving.ucla.edu/campaign/donate.aspx?Fund=12740c&Code=M-44445</a> Donations through this link are through the UCLA Foundation which has an EIN: 95-2250801</p>
                <p class="fam-card-description">More tax details can be found here: <a href="https://www.uclafoundation.org/Resources/Tools" target="_blank">https://www.uclafoundation.org/Resources/Tools</a></p>
                <p class="fam-card-description">Donations are typically for individuals who wish to contribute on their own. If you are interested in contributing on behalf of your organization or company please look at our <a href="/applytosponsor">Becoming A Sponsor</a> page for more details.</p> --}}
            </div>
        </div>
    </div>
</div>
{{> footer}}
