{{> header}}
<div class="page-cover-photo"  style="--img: url(../img/backgroundphotos/donate.jpg)">
    <div class="page-heading">Donate</div>
</div>
<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="home-div">
            <div class="page-content fam-card col sm-24 md-24 lg-24">
                <p class="card-title">Donation Information </p>
                <p class="fam-card-description">If you would like to make a donation to WATT to support minorities in STEM and fund our events, please email us at <a href="mailto:wie.ieee.ucla@gmail.com">wie.ieee.ucla@gmail.com</a> to let us know. Checks can be made out to "UC Regents" and sent to the following address:</p>
                <p class="fam-card-description">
                    Tricia Senate<br>
                    Electrical &amp; Computer Engineering Dept. Bldg 4<br>
                    420 Westwood Plaza, Room 58-121<br>
                    LA, CA 90095
                </p>
                <p class="fam-card-description">Because WATT is an organization under the Institute of Electrical and Electronics Engineers (IEEE), our organization is recognized as a charitable organization. Our tax information is provided below:</p>
                <p class="fam-card-description">
                    <b>Name:</b> The Institute of Electrical and Electronics Engineers, Incorporated<br>
                    <b>Address:</b> 445 Hoes Lane, Piscataway NJ 08854-4141<br>
                    <b>Federal Taxpayer Identification Number</b> (TIN, EIN, FED ID #): 13-1656633
                </p>
                <p class="fam-card-description">We greatly appreciate any and all donations. If you are looking to sponsor WATT, please click <a href="/applytosponsor">here</a> to see our sponsorship tiers.</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}
