{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/mentorship-reveal.jpg)">
    <div class="page-heading">Mentorship</div>
</div>
<div class="page-body">
    <div class="page-wrapper fam-container container">  
        <div class="page-content-outline">
            <div class="home-div">
                <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                    <img src="img/logos/hogwatts.png" alt="Mentorship Logo" class="mentor-main-pic"></img>
                </div>
                <div class="page-content fam-card-text col sm-14 md-18" >
                    <p class="green-card-title">Welcome to HogWATTs!</p>
                    <p class="fam-card-description"> Our mentorship program creates a fun, supportive community for our mentors and mentees who seek us for career, academic, and personal growth! We pair incoming students with mentors based off of similar background/interests and sort them into one of our family houses below where they form relationships with other engineers who have similar goals.</p>
                    {{!-- <form method="get" action="https://forms.gle/edMdCHQnqXt1fmWUA" style="display: inline-block;"><button type="submit" id="light-button">Apply to be a Mentor</button></form>
                    <form method="get" action="https://forms.gle/AWPPyQ33gERK1Rwx7" style="display: inline-block;"><button type="submit" id="light-button">Apply to be a Mentee</button></form> --}}
                </div>
            </div>
        </div>
        <div class="home-div" style="text-align:center;">
            <div class="box" style="display: inline-block;">
                <div class="gryffinductor">
                    <div class="top-glass"></div>
                    <div class="top-glassp"></div>
                    <div class="glassp"></div>
                    <div class="middle"></div>
                    <div class="glass"></div>
                    <div class="band"></div>
                    <div class="band5"></div>
                    <div class="podium"></div>
                    <div class="points"></div>
                    <div class="points2"></div>
                    <div class="points3"></div>
                </div>
                
                <div class="ravencapacitor">
                    <div class="top-glass2"></div>
                    <div class="top-glassp2"></div>
                    <div class="glassp2"></div>
                    <div class="middle2"></div>
                    <div class="glass2"></div>
                    <div class="band2"></div>
                    <div class="band6"></div>
                    <div class="podium2"></div>
                    <div class="points4"></div>
                    <div class="points5"></div>
                </div>
                <div class="hufflepower">
                    <div class="top-glass3"></div>
                    <div class="top-glassp3"></div>
                    <div class="glassp3"></div>
                    <div class="middle3"></div>
                    <div class="glass3"></div>
                    <div class="band3"></div>
                    <div class="band7"></div>
                    <div class="podium3"></div>
                    <div class="points6"></div>
                    <div class="points7"></div>
                    <div class="points8"></div>
                </div>
                <div class="slytherohm">
                    <div class="top-glass4"></div>
                    <div class="top-glassp4"></div>
                    <div class="glassp4"></div>
                    <div class="middle4"></div>
                    <div class="glass4"></div>
                    <div class="band4"></div>
                    <div class="band8"></div>
                    <div class="podium4"></div>
                    <div class="points9"></div>
                </div>
            </div>
            <div class="page-content fam-card-text col sm-10 md-9 lg-10" style="margin-top: 6%; display: inline-block;">
                    <p class="green-card-title" style="margin-bottom: 10%;">House Points</p>
                    <p class="house-card-title" style="color: #af4133;">GryffInductor: 22</p>
                    <p class="house-card-title" style="color: #12598e;">RavenCapacitor: 29</p>
                    <p class="house-card-title" style="color: #be9136;">HufflePower: 30</p>
                    <p class="house-card-title" style="color: #276e23;">SlytherOhm: 23</p>
             </div>
        </div>

        <div class="home-div">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/mentorship/gryf.png" alt="GryffInductor Logo" class="mentor-pic"></img>
            </div>
            <div class="page-content fam-card-text col sm-14 md-18" >
                <p>
                    <span class="house-card-title" style="color: #af4133;">GryffInductor |</span>
                    <span class="fam-card-house-name">Social House</span>
                </p>
                <p class="fam-card-heads">Prefect: Jasanpreet Pandher</p>
                <p class="fam-card-description">GryffInductors are chivalrous and brave. They know when and where to party, and are those who walk into lecture halls confidently during midterm and finals season.</p>
            </div>
        </div>


        <div class="home-div">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/mentorship/raven.png" alt="RavenCapacitor Logo" class="mentor-pic"></img>
            </div>
			<div class="page-content fam-card-text col sm-16 md-18" >
                <p>
                    <span class="house-card-title" style="color: #12598e;">RavenCapacitor |</span>
                    <span class="fam-card-house-name">Academic House</span>
                </p>
                <p class="fam-card-heads">Prefect: Evelyn Chiappe</p>
                <p class="fam-card-description">RavenCapacitor value intelligence and learning and are commonly found in the lounge or at Powell. They will be your best friends during finals weeks.</p>
			</div>
		</div>

        <div class="home-div">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/mentorship/huffle.png" class="mentor-pic" alt="HufflePower Logo"></img>
            </div>
            <div class="page-content fam-card-text col sm-14 md-18" >
                <p>
                    <span class="house-card-title" style="color: #be9136;">HufflePower |</span>
                    <span class="fam-card-house-name">Technical House</span>
                </p>
                <p class="fam-card-heads">Prefect: Christina Lee</p>
                <p class="fam-card-description">HufflePower is the Technical house. HufflePowers are hard workers and have a lot of patience, making some of the coolest gadgets and being able to debug code without getting very stressed.</p>
            </div>
        </div>

        <div class="home-div">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/mentorship/slyther.png" alt="SlytherOhm Logo" class="mentor-pic"></img>
            </div>
			<div class="page-content fam-card-text col sm-14 md-18" >              
                <p>
                    <span class="house-card-title" style="color: #276e23;">SlytherOhm |</span>
                    <span class="fam-card-house-name">Professional House</span>
                </p>
                <p class="fam-card-heads">Prefect: Anreeta Saseetharran</p>
                <p class="fam-card-description">SlytherOhms are resourceful and value leadership, leading them to be successful in getting internships and being involved in clubs.</p>
            </div>
		</div>
    </div>
    
</div>
{{> footer}}
