{{> header}}

<div class="page-body">
    <div class="page-cover-photo family-photo">
        <div class="page-heading">Mentorship</div>
    </div>
    <div class="page-wrapper fam-container container">
        <div class="row fam-row">
            <div class="page-content mentor-main-card col sm-24 md-24 col">
                <div class="mentor-inner-left col xs-24 sm-15 md-18">
                <p class="card-title">Welcome to HogWATTs!</p>
                <p class="fam-card-description"> Formerly EmpowHer Mentorship, we are now HogWATTs Mentorship. Our banana hat sorts mentees and mentors into families based on key areas for being successful in electrical engineering. We pair mentors and mentees based on each other's personalities and needs. </p>
                </div>
                <div class="hogwatts-pic col xs-24 sm-9 md-6">
                    <img src="img/logos/hogwatts.png" alt="Mentorship Logo" class="mentor-main-pic"></img>
                </div>

            </div>
        </div>

        <div class="home-div">
            <div class="fam-card fam-pic page-content col xs-24 sm-10 md-6">
                <img src="img/mentorship/raven.png" alt="RavenCapacitor Logo" class="mentor-pic"></img>
            </div>
			<div class="page-content fam-card col sm-16 md-18" >
                <p class="card-title">RavenCapacitor</p>
                <p class="fam-card-house-name">Academic House</p>
                <p class="fam-card-heads">Prefect: Ale Uribe</p>
                <p class="fam-card-heads">Alumnae: Heba Abulebda, Maryam Rofouga, Neha Sinha, Linyi Xia</p>
                <p class="fam-card-description">RavenCapacitor value intelligence and learning and are commonly found in the lounge or at Powell. They will be your best friends during finals weeks.</p>
			</div>
		</div>

        <div class="home-div">
            <div class="fam-card fam-pic page-content col xs-24 sm-10 md-6">
                <img src="img/mentorship/slyther.png" alt="SlytherOhm Logo" class="mentor-pic"></img>
            </div>
			<div class="page-content fam-card col sm-14 md-18" >
                <p class="card-title">SlytherOhm</p>
                <p class="fam-card-house-name">Professional House</p>
                <p class="fam-card-heads">Prefect: Rubia Liu</p>
                <p class="fam-card-heads">Alumnae: Sharoon HJOng, Leticia Solis, Wenrui Yang, Zaroline Zhu, Jaclyn Yangyuen</p>
                <p class="fam-card-description">SlytherOhms are resourceful and value leadership, leading them to be successful in getting internships and being involved in clubs.</p>
            </div>
		</div>

        <div class="home-div">
            <div class="fam-card fam-pic page-content col xs-24 sm-10 md-6">
                <img src="img/mentorship/gryf.png" alt="GryffInductor Logo" class="mentor-pic"></img>
            </div>
            <div class="page-content fam-card col sm-14 md-18" >
                <p class="card-title">GryffInductor</p>
                <p class="fam-card-house-name">Social House</p>
                <p class="fam-card-heads">Prefect: Katrina Wijaya</p>
                <p class="fam-card-heads">Alumnae: Judy Descallar, Ani Garabedian, Claudia Inestroza, Jenny Ji, Norma Tam</p>
                <p class="fam-card-description">GryffInductors are chivalrous and brave. They know when and where to party, and are those who walk into lecture halls confidently during midterm and finals season.</p>
            </div>
        </div>

        <div class="home-div">
            <div class="fam-card fam-pic page-content col xs-24 sm-10 md-6">
                <img src="img/mentorship/huffle.png" class="mentor-pic" alt="HufflePower Logo"></img>
            </div>
            <div class="page-content fam-card col sm-14 md-18" >
                <p class="card-title">HufflePower</p>
                <p class="fam-card-house-name">Technical House</p>
                <p class="fam-card-heads">Prefects: Allison Doami, Maurene Jiang</p>
                <p class="fam-card-heads">Alumnae: Tammny Chang, Sonia Hinogoran, Grance King, Gaudalupe Zaragoza</p>
                <p class="fam-card-description">HufflePower is the Technical house. HufflePowers are hard workers and have a lot of patience, making some of the coolest gadgets and being able to debug code without getting very stressed.</p>
            </div>
        </div>

    </div>
</div>
{{> footer}}
