{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/mentorship-cropped.jpg)">
    <div class="page-heading">Mentorship</div>
</div>
<div class="page-body">
    <div class="page-wrapper fam-container container">

        <div class="home-div page-content-outline">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/logos/hogwatts.png" alt="Mentorship Logo" class="mentor-main-pic"></img>
            </div>
            <div class="page-content fam-card-text col sm-14 md-18" >
                <p class="green-card-title">Welcome to HogWATTs!</p>
                <p class="fam-card-description"> Formerly EmpowHer Mentorship, we are now HogWATTs Mentorship. Our banana hat sorts mentees and mentors into families based on key areas for being successful in electrical engineering. We pair mentors and mentees based on each other's personalities and needs. </p>
            </div>
        </div>

        <div class="home-div">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/mentorship/gryf.png" alt="GryffInductor Logo" class="mentor-pic"></img>
            </div>
            <div class="page-content fam-card-text col sm-14 md-18" >
                <p>
                    <span class="card-title">GryffInductor |</span>
                    <span class="fam-card-house-name">Social House</span>
                </p>
                <p class="fam-card-heads">Prefect: Meena Nagappan</p>
                <p class="fam-card-description">GryffInductors are chivalrous and brave. They know when and where to party, and are those who walk into lecture halls confidently during midterm and finals season.</p>
            </div>
        </div>


        <div class="home-div">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/mentorship/raven.png" alt="RavenCapacitor Logo" class="mentor-pic"></img>
            </div>
			<div class="page-content fam-card-text col sm-16 md-18" >
                <p>
                    <span class="card-title">RavenCapacitor |</span>
                    <span class="fam-card-house-name">Academic House</span>
                </p>
                <p class="fam-card-heads">Prefect: Jennifer Seki</p>
                <p class="fam-card-description">RavenCapacitor value intelligence and learning and are commonly found in the lounge or at Powell. They will be your best friends during finals weeks.</p>
			</div>
		</div>

        <div class="home-div">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/mentorship/huffle.png" class="mentor-pic" alt="HufflePower Logo"></img>
            </div>
            <div class="page-content fam-card-text col sm-14 md-18" >
                <p>
                    <span class="card-title">HufflePower |</span>
                    <span class="fam-card-house-name">Technical House</span>
                </p>
                <p class="fam-card-heads">Prefect: Ariana Kazemi</p>
                <p class="fam-card-description">HufflePower is the Technical house. HufflePowers are hard workers and have a lot of patience, making some of the coolest gadgets and being able to debug code without getting very stressed.</p>
            </div>
        </div>

        <div class="home-div">
            <div class="fam-pic page-content-photo col xs-20 sm-7 md-4">
                <img src="img/mentorship/slyther.png" alt="SlytherOhm Logo" class="mentor-pic"></img>
            </div>
			<div class="page-content fam-card-text col sm-14 md-18" >              
                <p>
                    <span class="card-title">SlytherOhm |</span>
                    <span class="fam-card-house-name">Professional House</span>
                </p>
                <p class="fam-card-heads">Prefect: Allison Doami</p>
                <p class="fam-card-description">SlytherOhms are resourceful and value leadership, leading them to be successful in getting internships and being involved in clubs.</p>
            </div>
		</div>
    </div>
</div>
{{> footer}}
