{{> header}}

<div class="page-body">
    <div class="page-cover-photo gallery-photo">
        <div class="page-heading">Gallery</div>
    </div>
    <div class="page-wrapper container gallery-container">

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157667740069068/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 WATTxIEEE Cookie Social</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157688183866490/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 Uber Worskhop</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157693544458745/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 Intel Dinner</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157689582494382/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 LED Crafts</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/135432894@N08/albums/72157691670369674/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 Big Sister LIttle Sister</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157662811366137/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 Google Resume Workshop</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157687364010421/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2017 Wearables Workshop</p>
        </div>

            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/135432894@N08/albums/72157687350535911/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2017 Mentorship Reveal</p>
            </div>

            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157684250121886/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2017 Spring Breakfast Social</p>
            </div>

            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/144839492@N07/albums/72157675536214581/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2016 Hike at Runyon Canyon Social</p>
            </div>

            <div class="page-content gallery-card col sm-24 md-124">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157678901867136/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2016 WATT Wearables Workshop</p>
            </div>



            <div class="page-content gallery-card col sm-24 md-124">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157678901754886/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2016 Fall EAT/EWD</p>
            </div>

            <div class="page-content gallery-card col sm-24 md-124">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157670524410553/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2016 Professional Networking Night</p>
            </div>

    </div>
</div>
{{> footer}}
