{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/gallery.jpg)">
    <div class="page-heading">Gallery</div>
</div>
<div class="page-body">
    <div class="page-wrapper container gallery-container">
        {{!-- <button type="button" class="event-cover-button" data-toggle="modal" data-target="#modal1">
            <img src="img/eventcovers/2018CookieSocial.jpg" class="event-cover-image"></img>
        </button>
        <button type="button" class="event-cover-button" data-toggle="modal" data-target="#modal2">
            <img src="img/eventcovers/2018CookieSocial.jpg" class="event-cover-image"></img>
        </button>
        <button type="button" class="event-cover-button" data-toggle="modal" data-target="#modal3">
            <img src="img/eventcovers/2018CookieSocial.jpg" class="event-cover-image"></img>
        </button>

        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157667740069068/player"
                            frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <span class="mr-4">2018 WATTxIEEE Cookie Social</span>
                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157667740069068/player"
                            frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <span class="mr-4">2018 WATTxIEEE Cookie Social</span>
                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157667740069068/player"
                            frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <span class="mr-4">2018 WATTxIEEE Cookie Social</span>
                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> --}}

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/FJknuGypeLxb1duJA"
  data-title="3/3/2020 Paint Like Bob Ross"
  data-description="12 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/vqzr18ud31ULLTihoCiz5QRJ7e1IKIGw2-59N68ZWcXn4dm_vxTH7MDCxyWNgplLZrjIaS4B6Nzi-cZCwj_EnbEM61BJj18NrtaWHDlOzEwlkdYOpMQLKUNc_34lXfn_ohmTCCHJnw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/1UK6poCOz_aPTiGs75IoHcKo_DcQExbB43ukQRawjEIsfp-4hcQpRQE7mNREUS0RUaQAiFp24TjYkcgZLnqE6psDR3MCgA2IGV8XTbPJt-MYDsYQoCW45cLgdx18-TYpXQg3jqkspA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/2qg35YMGMA9sygVyDaL1i_hXUHpSP1dTJWkg46NiYaYWzFTjlPzRO5Y42PKmNs9ni-mEqZWMgPDaewgW0ttNhXQTwAP-f2SgtrzZNoSOG_Efrgn4m3-hs2Iwrn_B0vymOgOEV4XcIQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/kVwF-sXDCe0_erx-eVAVFu8ENQ4sXetKxIU2VGgHWpJ5uDwfavM4OSfYxWDxi3XO4s9BOhLSTv3RPfKMRt64MBoK3WebgMM6-_sZMhkW-SOdZq0acxYhfU8R4ZE5xO6sl2mHJssrUg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/AkWm57f-3oDBOUd4zYVSf-do5yxfnp2gOseoV6Jfkd6PAcp3NRyNGFUsltVTYWRcjCZDACBnZC1a68B-xm9UMhvomoIuQ7bjkyC5vSAg8AuMVQ3TgnVfFhA0Q7xHT0FR7XSrubHU9g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/KGdgA1k8rna_CEdnAlD8itJC9Eiby6Q2EBBW2ShWBZ1mhsOcA9gb1UwS3A2sHQB343IPzxw9brsDP39KHdlziXxGmgOnHv4ZGPjsZbIHvz9yml48qDyoP0fsyIH8J2ebZfHuSSLZfg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/e3TrgYAuFEBqSYN-lVHV0rCfxoyGsmD_VcnT9ED8TJ5e4ZdssE763-SW1XNCvXR-rPJbP_cOyEhjuf5J63bv76QKGgksowPb2g-uBO3_4Y2NTVqoLhxZs1_avVl8PQQZBY55cjEJRg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Wx2zHjSrGfls-Az1nRhPlDxkkhI7XSOXmWuRP-C4QvOJJ-fvKio3JhU7KYD9oIfmbZNZyWnvJa0xsfNO0hLjF2llQfmUDCOUyxnKRObuzQgiHniHVFgb_kI5f09bf87EXcTYr49Kkg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/EpfVdG1oL5jnmQm2pH2_p6DD0_mCY4v0HfktoUzBvukxdfFLQ3pdEkci9y0D_uPKQDj2eKDzbI3cyBuLkhl1ylZvGvjTWfDh1dg9nRBMlpMnum-ZLFv-VAP6KRmqKmPG0xYTUdUI0Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/rjb85M7KIeBzjlnPal8_29OHvTFJjcx60mZTIZ3O8AM6itGwh595DpsZhqo6cZ2Exx8RkBifmhOaXNPsODD_OO_8G6v6S707MHw2Zb0aVIKOWBFtL6fEAyT9lduDSVJCJ8sOvuJKvA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/M0JU4xfOiRkAsCS785A6p5r4DVMvDRquCCvdoIBZu4qfxXZWhbNFiGjX1iik0O-CUp2GjcII0drsLpCV_2ai-d6socvCgT2zK8yG_KWRrdaG_uLeux0ZTfnMEyPrKL-w71y-LY041Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/u43uh_a__IKH9-zMEF6BHVZvKJGA1qmhs8ZtIesyKbJRHNNIY5g3aPvvSC34RUlkSPe7sdYNtC4dz1xCfycifz-AtnX4MXws1P6laOIqVMlD3tVXiNUUBAbOxt8UJldGdBrspsOe1A=w1920-h1080"></object>
</div>


<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/4EiaNQJuJ5x2e8ws9"
  data-title="2/12/2020 LED Paper Crafts"
  data-description="12 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/T_HEa3usNyBygc7X57YOSYFTbcNTS0MYsefNL3fns-pNakFRYJxrtuWMdwUKPdnRjrqx7hXHVS0tEtNzEU6suqXXHriTtRO5lZ5aaMhQfW3QhY0CaDiDtl2lQQ1AQAYgr_1hPQI3vQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/VOHIL7htsFTyqZ6HG1PH2OFiJecQ5AqSiZ4DeziVAWbmGE9DY-oe-WkTV7K3Qn5Yqv9jH823Yv-jmNy9zsHln0OVazVntqehVLj7wiqfp6O8hWCHSO-CZuG8ZWqnUSkKgXwtthM-HA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/uCRKk7bUqp1N7lS7VvAsECXM7hjW7u8OdvCy7vjF-1wUk7c9TYX-QUNv5_Jg5gBheE1f_K4uL6cPBe3lZ6PqENA3Np05rr9QpflwLR5pUUoQdZLIdJe1mpvGpP3jCsbT7unTtXZMUw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/xcs6KNcjEus6LTAbijRYk6rj90zwiHC8BmsMwPGb-2Q8Pe5jh22DY8Z4tSH_yGSh5NNHh3U6bZp0NnVlmXy6ksmZvMG8aoQLKdL5hiRydZa28SSioqa5Ltf2BaAR8JN7_HG3IbJx7g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/FRf9YNLdg-1ZupX6dOD3ZyEsy4zP9fRbhKyBP6csA_KsB8ThXXnM0s7bQzA1dz9R9h0tUNFRAr7gfwkRTzRgNQbUk9n8lGfp87e9lUmiModRMVbalAOGkfzr0GZzFomsekiY6dXVcQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/v7AKX2WyGUB24wwTrYdgaMN_lDdmeB951BQDArTfurjXcijEZlxBI-K22snVbJ_VDUlyFcdBlurfrj5cNwkacmWAeH5E1Od48tC05jsSUKX2qmN6tHcAk1dcjNvMhvqSSfUWrkfEYg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/VOXvBrFJOriMSKWzEue7jJ16lYYohfhVcs9UTBUgykRQlAJgtbaeumRnGpTSiCnDWX38WJBJnqpFAMijz1LcJk8SH1XHDxADzm-sVb120hzsjLmmk0APPmEEy4ADRfMxg5sODgSaHA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/S_CH3a7vEhWVXXUFRdFPTvymUmAeAoRO9dPSFSFLKowdW-RqBxxpGC4Vzmx5PH2XqcG-tkhGLUghCDHD1wA6mCh-oQYvLNThMzEHiBLD1cMMIkzmtA3cdcMDGX2Qw6tdQPh6VmcAgA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/yFbIiLYSCZbduvhwjtz0H2BSqJlzjS3iMvX-0zjFpKACESM0OLTxyCBzcqs-ZEtmgGXXPWHFcNQy5IFiuP_mylW4sI_L4I8__E2Egm3Fhpdmu_KPxO49kmsv2W_p1ikRAUd9bqq1fg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/6z1TEgmtzNPWCHnxByW1B8PNVXzG5_IPuQGM74bQkNnzlg2rb7_rqnV4wHhlD0tUnxN6wU6_2IOD59awi5xqojK3UTGzPLxNfbym9M3qFlmg303mUsHW58CkIYcYgJDjheIomDfBGw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/mmWVZy3XlZ0AlORaXtPDBK5o7a7xQJ8uvYRXyWQpjjcNqHcihNBtK6kYVkIq-SWHc1hJmLlNifP3IGQSIdX3tTFdaf7DssxDP1hmRvTgW41LgQZ91R9YmSvCcISBjnswwhapGoLUYQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-0-mY9TJWxnCE64Lvd2AvdQ-rkE0C2voP7zuhyIvQ2lqhb1MAySGBv-LKuwLdjoCscFzTWDI7AzziJ7aJ_sRvUWg0FZFd4ZtIurj9AWm_7tFLvMNneUT2DuQcAsEHLw81_ahcyoenw=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/KtBciUAJ3XaKEgby6"
  data-title="1/26/2020 QWER Hacks Workshop"
  data-description="8 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/iv6e_QaFhjXNrxw2k1Nm7teFhjmosoIUuv2LDYGj7ylvZmlkZDlnAhcv1Ghm9OWy7GkmQFUcrpNk8H50Z01HuanpprtPg-ZJC3nMCvM3N6ailDujjA44OnNxMn_9eT5PbRylw8kOEg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pabWDUDxggD2vU15VCh20d0rcHxP5nMZHoLqR0BUntedMT5cirD_Mo3ikfzCqlvI-pVGKRmAUVAtZPbG9BYmmJXz10UtZnn5mxRDv2GC_MtoCHU48j725TATBa-597gkwP7BxWKI-A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/PoeIC_lo_v4NhTKwa1ABSxuox-MT7I9ow72DmSwXTYJYha4pF5SufurW8OUzXI2W_v0sQb5bSMXlsQiM6jcp9NwcAoh1Ghl8-rqs7IZOUtgGWsn_9AsK91xz_uoec_H7CWzCGPVniw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/jDGmz9ZrUj94wqE1IeSpDqNfs4V2wAUg6KGER4Kz8_aCd7CZPfYPAABeIcFMFVRiEJqniJvbYKGJoIMkJir5V4qUVVQn77Vm43uz-9MQj3_NzAdr_vZF3EW-y3a0hAwJrRf7E9y44w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/agRrAkr0ZZUOnR-vOnJ33XnSCsPInObTS8r_mAY4d7OFRRAON6U6FUeKUmjozmKn6CUnKLRk5iH2GdbKnJcrzyJZ_INe1Y5Bhs2a50b0jKnMSDj0aCsKbJI2TU-KIyZHepYqTrm8dQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/bcZGB6jKAJZ_RyDsX1z59hcWP18pqXVBmdcIPXaNk_RTISPRxCYWd9lZgXpkQXWKdimjGjlwZNgPj2K15MJbdpU6VCVFhbS415-kRpnNCxAXDJuUp-VT4i7WSc1knnnX6MTGqvSg7w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/2pqSesXkwf79B0nFvo_MhyU72pEh8vYkwlDbzSZQRSDATFa2_PEXZSnZ5zBgo_72hpw7-yRMEnCpq-j_JXWO4azeg7Jp2fzOtNP9lu0wV74rtm91bq0ZyfYItG9ZwItcFqOfvfhjkA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/JUB4HBxjotgI5HoZpxby2ku3QLYu5RNXWprX8WUXySl75JHb8mQlYewTwCTYuGxw_xMX3DJBqmTPkkUia343wQ5KpOVlk28imzTMa1dUYwvPvFpDKs2PToHVpAPglNGe6SRyjynzmA=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/84JDGVNRjcPedtAS8"
  data-title="11/17/2019 SWE Ice Blocking"
  data-description="7 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/dHxToBmshr486JFI7GoHArqlpoTMECNT0vhlWuU4Bzg8kYzgCoW1e9SwxPSuN0D03pfKE-LxxTzPDQqssHK_1MZs72jBZTccGKu6b6mlGPaSCU3wHYpEzM9ri7axZGkdnmE4BrDiUA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/s7EHDwLUp7kr0p6YdMf1zE8CREvo4p6nuYZ4IC3Dktpk_cTSWu1vEO_-3egYORK2Z6xOKBHGAhhBqkkN6heedf-FBuRst2KazEt3OLGJQy1mdAszCQtc_yEn-clDYM65sRpjBDMTKA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/aL53J7acrFff-wJnWGJhpC_QAcyD3SzVnbXyOSlDcrs0112j6-i5YPf5XMq77YjEkvastXjbDJPIOs8hjX2VGO-Do52mKszJdKQ-CZUpeDKFcwxToOyoelgPOZlzJcXFUv0DZpfnUQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Fmlxfnwg6T_AeJ6BKHKhOk0SrV1VuuHaUMZ2oKW0G7JPHRrXMooTe2cC_Kwt1hV8EoC7OUGawTk-zi_WoJoOHnNC_jLN9nz12cZnmmN1OEnMj6RcPlFyc41GJ-XXzZ1-GxNB7iBqqw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/jeHpncGLNyKYe845fFMbglLkg3-omOqSKSHUqSVrSqwBJ8dEA5IJQWAX7qZJ2qkV4x0GZFRL_KSuLXDlLWokdqNUw99lQDo_MLdEya5FeeHKuK4x49DaOMY2UOK4JDUwkVAoPvX7YQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/qlt-76wGmLDl91S8Frqz_7vEP5qucSZaT6z6XhUxXF0MLIHRY2ZEICL9xHdQ6t_u3kDy51l24-YoSC0q9Y5VG62Is9iB04zN0R8hGjgFmHgm69WoePUiOyovgP5ljwD9ILgpPti-fg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/XaTQ1cDy_ep_eW_ZM74FH42-BTlJ8YyQsF6JIN4Wd_g89XtWTV9VKqzOvEnBAIFV8ctUKddn4a-Iph-fWy_gna-S5kX2YYKT091WXcy2R3mc9FoAuOzEe3_8mLVQm7vk4qnzINurtQ=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/US8P6ZbhubCh2JaUA"
  data-title="11/7-8/2019 WE19"
  data-description="6 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/_1Gwk1IPRXYT0grIep3hog-jppbhbopbDfEXd46l59iOOxB0Hpo2ysXsQZ68WKbS6YMpq7y3f4Gqqnca9_hbk730s-DMj75hu1Ky2xSRQtqxLsD7HmRV8-TfJ5sRZuznYWEmkeeTmw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/8F7zBMDA4FesKShINZoZqEwm9JGYkWfq825ZySCOvF0Z8sxZG3D6eAZtEQVKITeqVTPXgU1ogi9PSX0G1jK7LmtHIW_jmEQyFh7bco-EPtnQ5oJH0QVY3qy3e3LB1as1YUVuhP73fA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/VtujhWKC1Oalu572-P-9C_DNojAw2RuH0DDbuFhNibOtXA-WVub9Un4EsFVwwe6ICuW9ASprOvOwWNIvZYDquKb7QQggFEyOiikFEQON8bhei9qpNcAYa6sbUAWKehcZD_81RKjxzA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/mqfr-hISKh6ykR6asBsNxqW--OmhXYg_MtxsksoK548zUcMo3HgimoGkVpeWU6Un9fKRStUzB57vKzbSlYrIkK9mE26l2K8nYhBBV87ZuQ2yWfIEiUvjROz3BmB92yxA2V0LQ-MmpA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/UJJgA6elXVGMHC4JNBJl3SpY-1JcImI7ns67sENE1lRsB38XXQS_WqYBHh2TDZry5KNSy2dRDtIGDHJjMygQg_SKMVmhh3glRInyoRBs-8ZSuJhLT9uEenlWnu-MMNltKhJH06aSrQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/nKLCYQswUNF5RUM37p6pRj-sF2sgZV5-B8pWhA-5QLv4WMLajJ1cL8KkM_02NitoZzCUTpGTumBxVofvhQnyusQdK__YSYejHMT8-zXO7VpcTGagvSHavNz4PJbZSAWyB19UAp-tTQ=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/7jhzbESF8WZxjmHQ8"
  data-title="10/21/2019 AT&amp;T Resume Workshop"
  data-description="9 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/VpvLdewbqd2p1XHekD7b-fRXcvYqch-f7qhBv0nBs5M756EAQrjLMs-LAfBn5fgGt8mtb0Cmw6Dx06ofT5lcLmAFWhnXsSVRpH59OVnhYc42k0SVFXJ6h9br38_Wv263AlfoVvDhEA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/9_V3BVUqN7iIRCgpBCp9ycVRVFnJDymmK40JmYe36IuYiXUWHoS_K3PEdStavjgGGT5n_GtlO-iO_xY8LNLmAfXIst699keFtVb9bHgiHfEhw7PczWqAzSFHo8sJCKDPnEiSOWjEIA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/snoLpKLCtPIvHwuiGHbjJH_iKqE17C8i7KUZ6q5VF4lgV1I6pR3u8urCVjTEYh28H52Oimq333an8tiEnEpNROxTqxQq9MpR34AOCT7dMALFfNsW5PhHBeixhJfM9xei0q_zm3VJPQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/UpERqWgarAt6uat8n0X3ip2EjqRZBtV5RvXibzTGGMghvALU_2J-xYT9wtqHwNZUFOhrsE5XhDBVQi5jSf4lJvV8J05xWnMtxxvDEXolMV25ExFM4mO1qhAdOGAiRWfy3mYvNVu3Eg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ikYyOcxKNNFlJSVeseyDMzXxPpN92Qzx0l1lrlkW-vSf3YVUzQ24Humm-MmYTHSf_F0k1n8rSgJeWBC46x1TMTpba96IFYP4H_A6Kzfzzkbfg0WVyOTWGNOq2drqB3Vzn7qkcBhdfA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/zMVWnuBtKZyR18xKpbuY5FUdcdMO2gbsH3WuHokCmHQWuN-M-b9fHVpQKdvHajecb45gvoAxdrlAbe7ZmkxBaoHG8wKAMFNKxAfHDy2qXbUNRCpy332VPSg4948ICgEVOMOgeJyriw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/e8hbcdgsLPIKcdlJgWkFDOEvBw0q669ksyFd2yrhyFvIAW7cjG3bOCLrKYTjRsaFied_3MKmr2QOsBbQ4rDrFNeb6UosLO7uk_m_m2zAmdVD0wQuNXxlvwVaqZIrxIr-HWLx8g4HGQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/V34NdOHSrFUDUjRDNmIEZy1C_l2dOWr0X_-hlUnEtOSGQlt8vgbKQedA74EUK18QU3NyGiqs-bOiPxNCSQhn7GQkZRzYn2EWqlM0I_kECG6PefLqy6lAnK5g6nLVQiaAqFTEhHJvDQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/6-KuMXwjHxaw-fvazLUMHVrI4TmkxyChZ4kzYx21CjZIir4O7Ti0_W25zl7oGsTWis3IZPdXLEPwJvqi0AAJhEbXIhP6C4kkwond0GMlOh5dShlV6QMdWQWG5q3Aweeqy4wCoLvrQA=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/5NDWt8vkpcQZA5Nf8"
  data-title="10/17/2019 Google Resume Review"
  data-description="8 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/58jHqpd_CSc-9N1_W7H_4IqyeZ-z-cOinHTnUwqitpzeE7Z3D6-6rC6QOXmxErO490VO8kx6KZHn-uNc9_MoPDxQzpbh_0-LuW0ZQcNnLlkylgcY9Iv-OiP_wmjLHI7NKZqgN95sxg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/PRLKKMIi_w87WWARkJX1zZVJFlXgm_5HgsH4eQ49ARHZVty9D2GXMMtzH0I4634NXNNlcQoWee8vXOMjGPGy-DW0YEm9rX-GtEdLkNVPsfI4J6Syfcx060c7UNHnMV2MPsNVWafhng=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/C2y3iIn85laCA-nOFgxAZcYcQ1uNXXCvSZi2qcrCglW6tcVT14SZ2DstL0C8KSRk-f1FqpcT61qOWgbnGAz9IUv5fPlbuDE7WMOQ-nPdEbJCx1F-nLv_3UdVDRo7QWthdQm9UK9iTA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/npi647qrh8XDbLw-qgmQJreEKEibQvwyTRmaK0kPd9sca1xK8we43kkREhDN7pqOqcB5PJ1SaIa_VVNr_pm9ln-n4sv5Jer33bgX9S9dFzw_3MVH5mDwnSfRHbPIk51oIKNX3Uhjvw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/5ozfoDWfYgPALaofiM1_aV8eW2KD-yXu1dWNibHZmZUWFROx74auS0j1FdnA5sJf3u9FnOct4nDtilBTxpkO9PTMfLA-aZQTt-s2TONebO-VCbyK21AvTol8-AOQ8ZA0Q1cn47fslA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/qNgBQuT12yPlRwSZ6MGdEVMqwJ1VpTqFmoLHSM4y6YzxtPYUg3aSWi-n3AhpR8cy6sjQYud1WLbKCb2Hdgta2q2CMvebNkBBw2MY7WmtCMspCOnYokCFsmHS-dndmna5UOuusZNjvQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/vMTF3Bu7C5hQc2-LZli9fOsJdIq63lZv66KbJ_oIRkIpbi20eBY-z5TdJVLcqpet05SIA2iucSvji-mpYVy49sWn5ReE1eT7CGZg89BqxQNFzvWEMICAbggmyjUolTsfCryhiLzdiA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/m4m6jpKGxhtOlbBdiZpUiUFuEuBryYfXQZTw0KQwqp2PP4zyIjX4k7JVk_9wB2OaP9VOlJGxBdTMYLVz3zE5kpiPXR6whuwcGeOh0MLWHARmTqrEs70yU23QirPw00hiiVQK6_QSoQ=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/zrF7HnKjRUP8P1wXA"
  data-title="10/15/2019 Wearables Workshop"
  data-description="19 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/tDiRulZEpTy5TXAkJRxhbRWSzy6CvAoHml9XoJZgBp7GZmhq6IE4CVmuYZ9dXkc3N9o9AzZEpSBa5BdvXHnOQlN9MHWB_uXV2zyDjr80D2LPlq4jM2Z2jXePMPJFihc4MPGNdyi02A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/PPI4leH6i6ZjgiLuvvhhjGxxQGytw94w7O-eSCGaQ9Lu3KhvKcPMSfHhlpwVisJwi-AprcVnt-JG0IznLo5XuW3mWNMvb1kF9-a20osoWKBKxsW3ZwsV3uHKCMFhvWYobdKkO0JPiw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Dfaf2aEvvFaNbzJGMw7YlAAfPqQBz-AO_K8C4sbLIG-zNLsPb6XyO5CaBr4i7Szf_x6M7FBAfhv0d0QUtNhcOlFvyRK-W-pQRqdgIOxbxf6d00bRoOEBwEFNMriAcHHk6AfGgSGi0A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/gcCIRxchu1ENArM4U3GyCrMLFMtaxnFRZ6o9z2GzXHI5m1cBySlTqCfJuuQJfJw5wDDTDL_kaOWUO750fbKpsMxSbp8GVEVMsnIQcgtQGzewK37BR9-4rDg04LKAU0BAYMGAyeaxag=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-izVnBzcvgIIwT5TObiFKsX03fdTzzpevVy5UO4S6OaEj86b_mIrS4Yql0lkj59QIIqUrBr6-g3obsaAGjMk0_XY-kRCXDtdemDYWRL6m1rKMAkZkwAEc3kjTjwBX6nVwjZCqdm_VQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/v9rZ52YGHJmjCasq9xmSYM8L2cT4S0dEQFYLC8vsYMQnnK86b565WNBapDretK24tX39MJwkuw1G18O2UMk0wQDFmmItVSGxOcOzRZcGJvsrUcjjgEidMwFAJ7K7Nx6L8eFSrfpidg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/lNka677tIRZmnS5LE7ArMtsSMAwUFpJN6M1kBGbDMJdahsxzUkHEBzTJJcXiVeZDNie7p4WKV8QCc9J7AFmemvoQYW5f4rkRMG3VJWqqBgHsQzFBLii3sM-jt9hfARl6EqYvk1uxuQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/GCCTpJb29U4rz_tYrVunZ5crMNzMETwJ4HIfespXpDuJpvyBhe-QtNtbrJ2OcxWhQWofkVx56uKC5UJZdK2K0WitZcA4Mjp6s8XAABjUW-z-AWjGxS7GXfne8ed2LyrG4YoCO5t4hw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/RxWxhT0eHNfu1jkIFMtEwPRjZp8kXUH0lClAt4zpP_cQXcLkRfaKkxgE1o3S8Z0nXR91C48_X3gKpKjSbLEks48JH6bXJ_KkAYkilXSJaFGQpOLAvjGk_Rz6q4ru7mVvbNaKaZV-3A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ncyICRUyuBfF1_bFsDNZK56NdA6MlsqRNqGQhD4QwVkAxjLMiMYhRwd7Z3Lp1D9_aE3NdOhhKveuo7MHNdFJaahfGr_-GaOrOXOLArCs4W48eFNCjLois5xNsIud-NqVp_E2oThkmw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ijkR5EEX4sLtiXrUiDMz_1Nrlg4EpboYtflEtoBItniXpIyqrJTGKUfQKcPh1l_R0B091Ibf6p_PWt3HsYxYXcLXhBzmnXDvr9PXMZAHuA6Z-qrVu06ckKi2hpQJKhXyNh3UwukA0Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/KhT4o7GKOgKdj-4SyhcFwkW2E4ua5ZVuQ-2RXTFFPOmv7rs_R3wE4N5YORxpvKSobdplWwIe27k43lhq6JgZOdHnZSI4_mgik8ciQPn1H88EPp7xLfriZUFfzV-0g3btKuo1nzbdLw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/3d0zJu1gN_YmBowA_QyyMcn9fsb-mceytLKE_G4FDCQ0U0FCW5MonI9YSeNVDxqlFbPWRCQ6U3-BoauQWhgtkZeCPIG9XloxaA8EPyvQPA1a0q5lXd4nKA1tzpF7g7tjcrZX42Zyvg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/nTUzUV3MErjIMd3SXTyvN6LpJI1PR5Eody3eP4cziuVQ1ZmuEW8661Fjh-iz2NDwZsHybG2bGHVSTAr_rkvZi_AmeauKVAppBctaYfq5Q5mc3HlPWumg8EsCkCbVNnJ2K10NOJI_UQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Toyi-iup6VxGbnmgauaPd3XYGJk7rpAD6YZQunhQ1BZdhXwENjscY-Ikr4OrGK2AkpJOgyW-RAeHmko8420ntrnnczzxPYAKZS7MYeyqBEthfr-3UV3zlE1X3exd8JildLwCLnzG5A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/IJ7lLbcrjoe4ME0n8L_H3viFwmq0zmBaiJlX65Rl4msdeVkZbQAS1rAx0re5_0QkiErrI4i5ONTh_6gqxREZSGCQnztyaArFSReXsF2z9wuzeFhNL17x_hRlIGfYBhMcVma7M3psSQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/44kt7ijfeTkxmLf42hyiLRKonCIj1bXF2YASpsQb3Q0ruG-3laEwWAvcZROcJ48qqhFJSQkAHI6k_TmSOSY9PfrCF9pB0h3C8DRjrRrZfNUwvhmCQdqSOoGfvA-1mYR8QDdgAJCl3w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/D8JX0eB4DRwv8gpDqJ9yjJWtv82hyPagu34SXMZCZeut5Hri5Gn_qm7bfjaPnyYnF8eEi6holUM_E_Safebs2PF0HKifgtH7UEeZepIGl8blEQMR3lUyOVNSJLIF3Tt8GcVGEnfjSw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/x3y-IllIaogwTIdviqnDDm49ZMqjgTAYUITEfrMXCF-kfhVPsVNKdwK0zCvE1IqHqxwnlVkYa2W5LUu8nLGT-yRBjFvofI4LRZTaRnVZnlR7yIFciJn_eQ5pUneI9VrUN_Y2HnhOSQ=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/WmFWPQQzkqeTKuki9"
  data-title="10/10/2019 Mentorship Reveal"
  data-description="37 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/HYrrpw__erc8cFz3EzFMA5a8Bu3Sb8toRHrjAicryCXUWm8kfk-oNlogNbEVSmsklS8cOWrRMDZJB_zB78LptYyAuIp9l-HyhuDP0JFN-BrIJGV1ghf9PrlWbapxG_JsuXOwpTv9bA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/BTqxi1ymDT-ttpA_IoWZtDJWFsqPWD0JA60XCtvBcg6ldMtBMtKmgfSwwTgLzNVQrf8QxpEuqyBSCD4dJeNKAn9osnogaMel7E7CWCxVbZFX2IM1FOKEGG9SiZaUqLyDL9MtbZypyQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/e9NgdcNUsK7T9nxLvPyMz3j8mnfc0nEg2i-6hanx1fOt2HP3NKbCRhzIQ260KMXOoBlZwVXyqfRSz8iOI0hIl8VPgqOn31N5unt3NpCd2hN2Rwrx3S25mLUgbRt-5bGrL2DPU4KXvw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/3ZT-5GElDn8nTVd2EyVrIm815iZRBJeTTAyPzOUQjpjoDbObF3H0-STSqU9chTBfqXUcj-uIrJYasAJge5u5sQ8R7hOB_gk3V0MXovsPyx_Nqs4_7ekBbJ06pqAmkb_LkcTKkF5EgA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Lm7qXjA7wwJiEqrrNaWNud8DoERw6IRWjuPXV9j64kvillQ89SVf2LlGUeyQfVUO4ZAgl55hMCDo2oO1zz2X1uke52bhbnLMzmW0Mi743yHDT-IYKv4Sdp0nhNAyJvBx-Te6JIw1lA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/cJxo7vmYeX9XiR60LtFROS75Gacee4QzuJLeuRYxWbRwhp4qziJ4KUAM4MqpooVMS6XiJsT4T7RBZj3xNR9CZat0hLsB_kbRbKR7meI-RVkpTS7MJcGm5y9G74Pa48IPJ4GvUgv_zw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/VLB9Vf8oUGxd_Nq12JBZ8-FEaVkLzeJ_arN5H3ff4SniYF7mnZg6ZrFWyYke9cIsNQz_5K7ECOnFpsv_fuw43bxCs8OvjXxEXDsz0lnSs26wPac78t_s8NtBCl2SfCMdEd2Ysj26Vg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/PjWbuEMMSNB5qvOUI9W8PzdvRxVdaHwEUSsOKf-tNaNUAu5E6fa3-xm86C-reHCj0YVkssRFiEcuLh3LBlQyilp0Hsj_vzbRXCg0PGIjbpiCKpH2TL8iaVjnLiHeCFmgJ_ru2j1y5w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/p8EOb92sElpX0unQPd9MncSGkqHSt75w4E4har8Th51DWHll2_-zw5BVK9W_Gyw1yR_LPLijRCEU1cF9Aeyh_fqo51OkshWF2-VCYjzPh-RV3mSTLA9Ae37VrG-doEoN3jL1SAl_XQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/WcxS2mqx0qqBwZPFoGFX7UeRZEUTF6PUDIiaN_XuORvqMiDEaSG8FUazVixJUq_BiLMgrLdxYVs1no3AxhBcCyE5PtieIK1vFuUNXXu-i2Ft1768ipPKk-U1_S3FibBbmQubIJod5Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/jjHMlxm9K37RTR7k7X1GcTLyXt1ax--Q5B7eb0xkagz4KoFQD-ByQJmm-SfLSM0_-tk_9wmFY_GAJUTdzOgv2GUDSBcawxRhx410PEwKPPcGi_F3hPEos2aqnzs2l3yT7bvfQZyqyA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/5GJDhHhGeRFgkTKS3dLLRT9hN9oozm0iHdYGEDSkDLgNIBHl3kKgrhqRMyzJkwEz7d3BSIWPsj-KYjtcjJCN2Kg6k2D7Tq8WNMa46nG2TlabB2eSD6afcxqPsUdC1gUwwCpIghWUiw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/wHLiO_gI9e9tgSzVjaUQnHDmv2Ve9SZkT41r2DHwoKIN5jpoFtn5kbbOEHjF2CgMmI314CemeBJhsUcCg3mBgZmyitanIhwtM_AX3lljRQJsadCi649hJY4n0tmKJZB6IbXxwhByHQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ME9bXhSkddFPL61GiGR7oWIT6Nq-OTTnQnHQdQ-_qkKl4Vf7BfcgPjE47A4vBrSxw_P4xM6LAAIyN2kEPkteTqn6t2NfSttPZvX3mpZ5o_7fsiknu2nsjvtWGQ66h6ITI4qGzWuhyg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Zrr0wse2l7Ng0Yvgq7_WT77ojkwM01PGEKSynErzIs5tUWis67DkZvDeENqPKOMZaCNzQJJvvLlRAa13Et2M_o_0olwLam9Z61bsa5sBQI7J_lwU6mMGsYR4ariRuEIvM53ocYLEqQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/sX4sADyb4xwV4zNU-2kKZbLmk3IU-J4ATAbv32uODcl0Z0LTL5FNTHkD9A78-5OueYNR29tYAM6ZQ7_P86iE6srkIE71NT3ACk6hEFfMLqomsSpqqUY8bWdvrWg0vU0FqqHpka8vVg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/PhyBZNIIL0Rc7ihaYC1RXMmverpV50HmSlpyp7S0rDGQPFWagXJo9bMaOQdv9x4Pk4n_jVGbBIZVCrHmujW1nYeXJYvi6q0T5thtIoU0RETOrJGXD1tW2q4tSKLpeUEb1mMny-nqtQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/VInGtQ2THgmHWAa3YpyPDcditnuIXOxJeE7uVqVt25D5FefsTn-uB_p4IYunb6D0Y7RwbKVf93_oIMoK_LkDIZcZzM8SyoaeBZBUZyrAciIM9A_8h6gz2uEQHhRU98_0w6a6ZfPxwA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Z4JlmpRd39jxW8dEjIHDZu9QIREn0jysaIZGfjS-7jTZkwCSReU83rETP7tn84m1g75w0GkJ2FoqBredGtYkdAPG63ymaLirgkbdsyhp1ZP6xT_Qi5PP6XPb8u4fgQdHVD4e1hMJIQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/9VD_GE1hSdjpt91b1ZftwMd48_SoKVMiOIulNHEVPyf3fisqBIpLVpc5L6h7TfP0wYKV8hCynrSVGnAOZl7z_v52Mdhl7mU7LshGPOPXvp5lHjxAp5ZMtBGOjQEf1LOcp1lxaPEYxg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/9fOf0-OYwf477JF710W17J2uUGbpA3MDl5fl7V93BKi66bbzGnyevZo3Qpm3s2QRnpT9jHo68_dNQPdkbhSkdvA5HCJX49qjoFhtwOYJb6VgZjt5FVlb0BzMrSBCU1kwXRcrZknboA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/LxXuCreFc5_5U9EH983Unq85v7LH-G7rmqN_DKRhwKXP1E69WnymiSDc6nsiGzuZzYnS0M8iaREEAmMEBgEGyNIrNVANWkp7xXo3qBOLTIFNOr7LrXBzfJ7Tw9t8K98L7vjle1NuPQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/_mRuK984bTxoRUHUuPvEh9JhAeFlqRLQ5vwN4gSd5-Fg9usQxuroAlt7GxMZ4hiSZqhiJsYxVoQdn1C_8GvTGwl-uDMCaa5LSsQhii28YTYu2s_9nrc9DqPONqzzOp9uujekGAX8Hg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/gD84eL9RsEPUSAnOgT7vzL1ajaGQtAd0IxYrvlJxsZvWIY8QLsTLHhu_2U9OSmLN2Taz5D5yWsfav9-_rWD0HnG9qCxxhZ36rSLs5ZJlYZTdi_Ub6fiS-e6qFIFoiot3UixYxsayOg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/LMXbkn5uKdK_tzD7FpqEXNb0KyKUObxL24IYis01uNiUvdgzUHLIfv77uVB48a37-AkC-kERNACXTWs-KuSDVx8k-_gSBLAqXnwuYzm8GvqYjaJnVuocoz-ZUtpYcfQSgcvD15ugJg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/oRSK-9F51yIjQokO9xN6vqASoDP01oV_BSNN-eTOW4KUTMmbv0GJBEmrFqOWAQWsHDtDcHQOEkfYvsq89a03UecoXH2JjWvB7H0EeQ6lH-6WM1UaN5E1kx897p9rosAw2etEK22mqw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/cijfF1NKpDUtKNuDo_6_nRMgMEb6vw4PUX9VU_qVfixwowEAfzOE4SaK7NqggvySvgHMdjxidxQKMdTt9drpK9vfUn1diXlUmfzgn08UCbuvzWSJU4lsoH7KFSKdmYh-I_E6mO68Tw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/rw9E9640YEMEd5NfXLOSSkAaw8ns8NnjC67duK2FQUTH3760FlcR5wxBjbf_olZ0xaINbX8fxr2TN_QIXK0dy9eJnjsANYjtsrhxSWiUxxDl5MQTC9NBKo_Zz2OGDPK5RVho7s97rA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/AugL4cht6ox2zdZd69lWL0wPGPX-atZkIPbCopTs7GJlKdE4uBDkd5NnDFVcnN1Htc3okIgJDLb_REJNpJ-ZQl2MF22A2VoI2VEUHDvVo93r3VdCkgqQ1tJA_2U1apO9B4gZ1emgwg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-kQGD-Nt6NWKUTB0mVQIsNAAJw8X2s9pJez4VBM-Rkm-8GGifGiIYxN-7QqP-yQ4X18cg3jQAnd68a3ITwTaSL8n-EL-hsBCutqHzWiPx_dVTgTGhxWuDybaLd1WkeYC9WgmFJznNQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-zmGObb-b5iQVs2mVtCLXCpau_EwGtu5hFxZ1_5vkr4ccLNrRcJzIM5U0yBe3SnZLNEE4Y8C0vP73RmqkvJg-f5XpizC_kJRzdP1cBWLEkO8lui9hSKm76iQGryF1e7-DEHkxTWwXQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/BPq7m7D3JLGP_SVOu5iqq5DDONgmh_cLPWDgUeV2X-fL4nhmpTabqKQkVIWlC6KV8Cz1JviGh3BKSgz5xw9MKvEz7BTL8NhDLNWUQqE89Bt6315Z_VLd6IHqyAWaXVcmEoDGiWTmiw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/KkHpCWT2K-GKTWalyIWV1jD_e4fgeN_R67pO6RuNNDwOvwA-buhgfNO4ShqfwtHk9HQgasRRxYBtIg7JApCynV7TBmRrCELghDUONNkN8syrN3ZD_vGLmkmEOGNioXWA7Gvhw7Z6FQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/TiyfPE3uF2TpU5F_dhTKRKG-FyVbx4n4FxZ9SeNemrVclXZZgj1hbDwJrbL4QSoH9IrtaIr4Ns6ypmz5soIyQCGVhA23eEKkQdwKcxgsb78aWDAMHa2qR9B-rVW351xUOQ86fw4IxQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/TPmq7DfHKMV_NRGyp5fVlCTtCjZQjFgLpbcJNV3GA6n5vgE0hDCrTxveVnMlMA39DnHlAeop6MUoCMTnSr8YMjbKTC6-a6oPLWNd3tjV-T5nWRmmGFUa-Nhv6DiG05NIlIU0R6dOUA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7OiMwy_n3-46JMMzJcs19D0G9oGf_ABPAykM9Xq2SI9WTpIz2psfmtFKZBIxT_MGAbTru7aI2xEtLgBUmdX3CFfYXNsHhqwWhfXEEXbXodIoQUpjLKYdimubMpTiWMAh0M1yyMoJjQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/vTxHWOiTXf-GqgCmCYLU7b58eS3JhGWR0sg0L25xyGAVQpT49KC9I168uIBKrMtonnTmyWFglY54tdFkSi4boEJraEq6EmvK0xCmxY3SsBqWp1GyJkm5RkpNIRw_eUCI-xJFJlzJKA=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/x17eTB2fSPFRien19"
  data-title="10/1/2019 Fall GM"
  data-description="7 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/ktMvMuDKmUQenzaT81f-16IjQTIl2xm2-W3MH5pfQ97VteqBIp2K6g2gDpfdtBALyAmZneILF6ynSuKXiXR2exe5f-9VSciORzPtXULO9uzlcoo_rIQteY7BtfSSa0iSHLIyeg5NlA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/TSczrfMA7cRVBuIZzL5d3siIBg9m8ONWATDj2KSv6x_eaLwXftuxCnj_SiftCC72C1hCq6WUwfV3xUOzoGuozsi-FXwk7aFaW6NN4LhmdZ9JtcwrlhsYMnoVhjCnt8hvlioyYipgaQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/p2YOv5q9KOXUGFZBB1QQpQAiRa_Xw9psckBajdY8OYuKiVibVk4FtwNLg0o2eGv71pN13Ys-4PuNmu8iJib6_a6V2mzVdECZh_wmPOubAUrpz_L9OiEABUg_hPEBR_gjIbx4n-8SKg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/YvPZSAjBXC-bPVLMXQpgsoJU_hVLLKCH24KMdHdoapZoRta7e7OPGMn_F54qjPrJtgaB2hCn0-NEvFJ_Zcq9Py5RyKm1r_WrRsl9ZF-iU9-0nwhx8YHV-YHEbV2Wb1q_7-pQGiJ5Xg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/gUBWEx_QWgnDagWrCeXjauxPXFuxhil024pCyqWwPcRJTbVcn4zL52IkpXmXDCt5JXMbL425u-IfshEC_x1brSqaOpxX-s0zWomrZ8GdD3rqgPV0SGOigZ0TDzWHDSg1VX-vcVTfzQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/5Gxaz80wg_pjBs7yPjnFJ1BgO8VzHAsKM_oh-c06cLCtw6EBh8EHQ9LwUCh4bzvyIpZ85Bgqj4yoJoxK1lY5B17RenHoUshLc8mDg2S7G8_7VlqkR-5UoVJofxo-qhmuqQqTx9SN3Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/t7Jfi2V4TrfEq-X2-5YmTyB-_8NVMpWlW8JGbc-VWjVu9zv7ABzyBcnZpLh0DV6sBcHCxe6wpclvRXy_GaT-Akdq6m0Z2uiuwdOdEJaa4u3Z3cI-ezmapmx7tF1ajPpTfv61D_aZ3w=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/ouV6UpG6WDrBcFfR7"
  data-title="9/28/2019 Fall Retreat"
  data-description="23 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/5itWBBxzjLw6aDMUhlsvKBlwIlXevgo_6xnCIO0wmsZdpEir6gJe792e6vQROb_t-g4v6WkaCu2f5bgsC-Zwdbm2CgWXDn--zh4t2O4ByOkf4VL_vBjiRfNq2rNFWeyIoINyv1dK3g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/eL_ZjazimUoRQf6I8io58aA5UCxyFn1TtToVWfPwG29qm6ltkeeCZp0QO_69Yf9AHSIBM0O_EVKIIwSbJEdaFbIKBzj7blITDrJZYptjnvhNFPmPlyT9OE3PIogEukIG-y8tNiJMlA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/udQVkT9M5GFHLYStTUrpLJZxqxtAyPj0mkAU5m8zLx-knYumLOu0U0nb1FxaZJp_utTjy45HM5YDjfEsQo1O_3Ts7dlHJptgsQYVHebTztlEyrV7QUUeT6TfB0COKu4X-XnQ01-KUA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/2inwkFOw3jkhLhQDtcir-TIyg2QA63zgregCnzJhquGPeBpnC0UL-_P13DuSgnlnUgDImHKdKCKbV6312QwK9pRQgs1lgOhvHsmazkuS61iTB5Hs1k6ZA-Hyan5O33eIJnUaY-frdQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/X6yxmFFj0_nesuAjhtANahcm9YIUl9GA-RoCM-KrfWWdD-7j8pDCtehjTC2lc-kg2zwXAMhfgi95LRNQKsJ-Ruli6soc011iN4rAhb36RhWWOBV200uJ2LlhZ98XVdXFoZ_I2sGI9g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/8ODP8WJ0zwMWbja7_ik6QeaYKtUc8tSk3qV-qu9Ziw7EMBsV3g0C9BkEy3NWWeaq56SS7LOxjkK-jZ5L0a1rHgQHkoMZXU35i79zM7SuQMNPlTAW5hhqwXsUWk4hXid2nYkr4ou9Jg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/WFIkMl9bgbA7AWqczipyIwwTSqLTnlcxDLuTVFIXe_oYoDuLC2lpw7Fb4N12I0jYqDYXfdHyNa-0ZaZET_b4vbbxPrdC7OVclVvjLcw7X6UGq2DUI-iKlEYNzCERJjaA0FJvcN4B6w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/NInAtU4XDXYTKtoDm_b50kqNC8w7zg962H6C1tuNgZjUD4JH1eSwmAHNVKOtZPZB6SagNtWHC9u1Hj5ip5eFaUl023BO22wOrmk4BpeUFXsnxpW2PH9w8QMXysBSmUnyX-pDHJEeVw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7I6zpDqztsidBVe8Pvm0xK7cZK_gSknZZPDRWLNDd5QvxpnD4sWGe7L6WRZ0k6ZB1yJLnn6R8yw2i0Hzp_b1rUozpMo2hMd0r4a1AenIxNF_NDlUu_g9j7gcct7hGiVzECSu6mlyLw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/G8pYpakKIKtX5-ZJrGLhY44HzVKkHAmB86BbpVcvsiydInWC9ZKY0Rzj-rZ8dzK-VNxVnDP5V7cLAEQrg6OM6_JcDquvsFdPw7eIsd7zgefglY5RgImNVwdjymM0uDBnLj6w1_UiLw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/SO0I9demEVmqEyIAgXKk7xf5aw_uX6RUsYbyWUM7V5ElMxmtcAPTAsFGlog__BMksPWBiCTOp0zw8HW7vK1k0aHxdZ3yEhlknLOusTFm2Sy6Dw3yv8C23geGimDHTrga_Mv53QtKPg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/qtJd80VVvdgzQVF0yaBaMGVTUboMNSB8F0dJA27KV0odbC-mdcuECD2toxQ1PdTflsHDFDwBGaYeCEzbhwtvNVkqZSXFPQAMYXUt2jvmRd3n344aTAtPRG_pzlmXR07w50PxGXH8kg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/YYZYgTRbQTQKxAlplaN-oR_dp-rqLcs1UlT0qwmZbu0HK_weTr8nOhsQDBeq2SIMSAWX-VWuuCoSkiN8HtlAsm3Ih_zpGpgZn8U9C9bTpLYH7hY9DW-KK4lY4_98rEFmFhgpd8SqQA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-o2cNSC81Srngzl-tIl_A9vbDG2Lj4FQSn5Zrwt25mTVOEJVUaQee2qGUY40P6Z6NaBnZnLYMwRvnE2kTIqfUt8a1EuZU6Vrjn2DEJ_wPZjhoREiilL7AEjc1_EcXyyLjuQkCIC_LQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/nVspDix4oNXQ1kd10bVvsIlzkhitvCTx-3IKkhldv9w9VJMq4wz8JRUiblkK1xIDWf2jOwLTuopaS_D_xRX8BTprmvUoMCo6lpeFmTItQ4Z66O4WC-ZHQFQz08FvE7Vh0WRu0aT5Jg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/aaIognMz3fw7BhWULVkfcNG81J2Jd5vvEAL8DwjAKQeWJGtomytqigKqp2r_8PYrjptT1LHzOx3l7F6mMCDNjmdUELzihO67J9VBfXp7LuAdTPzcmjmY6vrY0aaSP7T6VE5shAQqEw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/0bJ0gTOyQg_OdvvSyKy6j5ua8eXftHm1L4MIdedAlM0u5rQBpaYbIy8M_Mj7hXxBerZ7tHCv4Z20jKzIsqMXPApl6yfIMF1OMojNvYaQ9hm3Ha5Ni7h7oLUJ3_aulLZAjn4kOvPyHg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/r4i9QFVrzGknTBD6CP3Vup1cqCWPdk6OpW5N_AOSrGkE0D8KaUopJCpy-2h5vl5RiFZL4OoEmK--pxvz4a-mvdx95vHCzH8jyXqiuotnv6InpaiHR_5Gq34GOpnXM-a1AQrAwjMLkw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/w7vdpveOKye9zinJE9o1aqlzkL1mCgbnlvsHGLT93gxe87AwR0c0JgCZfM_AzlsQwOb2MqHmfGozZXNTXoMBeXYM-wvnU4RmPK8pBSxYJb2eVbG-mcgZm3y0kjr8GJOZrX9M_SPggg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/_uvyAj-8NyG7nQ2jHGFtpuIhseY03DVbuEvDYgByMZGOG1yMKuLPXlA5JbK_OMrRdjg7V_K61rcd5npqhEZ1WzSfGZb9l6PRN1DtbcOebw2dTpGS07BRaDA-hmwnrd9WdsdxJaMVjw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-cvryqHfstIDPpCxHupH_GQ16KT77udpMVDkKEhoFsS_ysyRRQVr3T_25LwJoCQgcQ8odcpSrBCITMqvutC6zYYB9w0s-YgxKNeDoTnn6_Hhqha48d87vXYOrjtt-HyxZoOC4LtgWg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/58D58VhZIUjTsQKg8m5a4-PKPEIhKUWJqyPknu4MFNWu9p-UIYfzZeL7zevZmBg4Mq76VZZmAbUTJayo6Fib7PTWKtjPIyllbaugfPmSp6I4MZo8TGC3KUHeXdsGxtZqsgtSEY2dwQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/I0XFuUydrHig8zBSQnoDVATHc7kqBa3KbIzXoRD4Igh7QN6UM07KMCtn0dxoBd9kh9Sj4ScIIiZ9K_r5Z33OxCH-NuiZ_C_8iLYwcDwXLlxphYcx8Pb62-OvsH7XWgr2XuGC2wLDyQ=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/489a99KfZQzFMdbM7"
  data-title="9/25/2019 EWD"
  data-description="5 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/Z73lZc6inBHtQaEk4Y4GvQkair8s5qzecrZwvCm-PCOec-dUmHn2kYrARsQtZMjo1y7DAYbDWXH-NxaPFeKd_SOit5PDF_q16iKUG0ZPwscaFCOsMqMoQNmK_z0G8QeNH5VyooslGA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/lkX59q8-enIMFpQiTRewTUJO_GPHsxlkjyMgBj6vPt_jpXEMsEbwVtdIJxEamXm-5EsqnzsLWbC9aZUKO-RrMeN4QnDO_RT3FPdVR-gTS0ua41JW7WD4eQ2F5Jnc84VZVEr6VqVVOw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/vjJbyvxjRK176igmSpYXimee-ByFLpZGBzt3rPQmmIGYADkQPN9ZDbN_q0w_wevGdFvDUNF8X3R2_f0oQoTU6tLzcLnJqMTLwpvprHpKdRmLb9ARbWuK8oindgqb2ENMrYng_PWPYA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/t71TxZvCS6wWueZx9AicRWxwUpnbeaE2eucv74fcIa5jXrFUb_6hAtqaP5J-_xMCXnZB4bcxyPImfskl-xkYX7zWF47NzMN-wrJC3fILzO6KkyU2JA6cHwFFfkrExeanK48oQ9widw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/SBO21aYz0ZNbrpCz0WqdxtFvJvd5__LUmT3uyBGINh5VRA8gbz1Pp9nPGq5ywwLQQcOxe2YD40a22ALRtucigvuUKA_mPHDMYh-H8ArhKMaGLF3IHumvxVSYNxXsBw75HqOOyNkbLw=w1920-h1080"></object>
</div>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin-bottom:50px"
  data-link="https://photos.app.goo.gl/KEfEAnavY8ry3yzx6"
  data-title="6/2/2019 Spring Picnic"
  data-description="30 new photos · Album by IEEE WATT UCLA">
  <object data="https://lh3.googleusercontent.com/luwJMvf412cBNJEDOtKbrNMpA3Ylteq1LasxQ3jSXq9Xl5eD3u_PpiOhTc9nDpSB8izfINrAoFBTRLFI-kzCuwd3cvslODjHHppN04ze_QLFTpdjr-mniFwQZX5nGcz81kza_yWabA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/5GLAyFaHxCRNZQXY0HgmsRTJ6qE37HVGJin02qA9YPzVIIJqc54H1uaiQxSY9plIGLlD0SclKs0dWC8akI3DYvoU5IsCh9WzjzxPOSPQvggZEITM-SaypcoR3-HNuZ6a8kNop5v5Pw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/_FuHLUlzbsGVICIrz3w-32kTwuWCpD3MdoV5M7G6CohHHYpgDI6eFjDr6QplPTQPEeZcNdlI9HRI4diHvIL59H4RcB-ts2eYGDmAD71QrpdyYg1s-aseEL3vf-1ERb2c-mrt4ZSsbQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/0BQafjrvTU3D4pjv9ywj61eRfUy7CPlgn426l8QZkd2kCjZl6CFYAH2LzvX5hgyxg6rt3oT4RH4AvU3UlD26ifkvRj6-UBMhnEj2C37qX1YFHk6Fdj29gMnAa7GUSA9ZGH3WzlGVWQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/tbdbdK0qtS_71qFIoy0o917NPeA4SDvnfoNhftyMEkwfLdpzazUtcWjp3wJTNok1HBkPwO0_nZxLpR16sfvyDZpsEgam0uJua_P_z7bZUbT39r4eTB9MmK0mH1RtkgwbSCieY_EvKw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/puFBy-69c_ZyI52-TjCvnb3CgxvX-Os91qSAyAjpWK1_TSd7IbZb40rV7_VrLyyMyOnWICWWDbfj9g9gnMnmGHXIhZoG2-eo6-R6V7WCIJjudiW5wVa2norrMjv0rmeP5aoO5l1hig=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/PPtOl_bMXUg-AeB-DvdhP83VZtCuQCft4DXYiDGr7RrQdkwe148aROTNcXL8433BeJue3Up8hpMcxwHIyoyGPsFTHO1PI9Ht_1rnBGA-H4EuutZpIpxqWcDPfj0-BoKhdYiX1PJLRA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/5A3yVsFf3Jha4bPLc9rTViv8Ku_0OH8ByDR12Ayl0DL8P7VnU-lmNSUqpecaWgpEUPsaHpB_Z8mb9t2o7Lguk17DmK0hvZj1-JIC3LbWWeovfBa09K9r1Vs5LVPyq9gmn0VNLCh42w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/izDRuZD-jdUT-A2r8L0hl2HNQ3LopU7sb-kO7C2Vvv5UBGrlQaQRQkguoYJmfaGr7BwvlKxY66zn94o1ohv1r40H9F3iY3WzAkDM71Kfmag5rXxHvsGFUG5ralY1P4rYXkqX4XFY3A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/AWbp367ke0WGR6nbWDeWGXPjhm7mhPGfeXsYfs0cV3CVsd6chZDhAB45Ejdto6H4frMkM6vtff4YJlxuVzSJY3ejeLjYPZI2z_hHr43ZAuKEz5IR-9yTaKW5a0SEdWwfB81PpcOiAA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ykbqVmSSJTlElgT6zDrqGfOVQ07MoMIBZvVnS5g7z0LuYawvBq7djIyXe3WFqTNe4gD-RTzys7yhXHFcLIw1TQ1ts9kXTd694gkIlivg8h3e8uNwnwd7lCfNc-l7QkJ2Ade8wl7uow=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/k969Hb_fyBgKGMjqhByGLREwLnuKgSdQRx0873bOjYN8UGC9L_nf-9Ozteqki_ABTEmRHrrfWqZPGQ0r55jVuZCNAbl_wWkULO9rl_qtLB-8k8drnFlru3S7_EAZtnnrr5hVPnCj8Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/kpE9XFLhZjz0axIfieLRUo1OWwdLipbZ79Fj9gj1RatR_aUumW09uIAg71DEKJDD18ov0EMP9XneYsfv9IRfB1xGZ1qBsUzI5s9EuOXqR6Zm9zBRrjpRUTQ9qpzrx7ZkCObKzrnMXQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/R2UInDr8eBbuRbRXOMVwzsVaZJ-Y23TQ5EzKkLDEpFfjRwUOFsjKDzke5JcsUi3h7U15UHcliE8PIBovB-iUKlUnFR0JL0z25wilKMVG5gIk3PZHmg4qSro8ZCOUT0w7D48prRmQkA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/WTwMWI9ulKgF98SMns5GgZx8tQBQrG-Bm7rTm4e5Nbd1zzM5Rjj5MOegEAC3rQHhgczNCMWRFygE-KyD7KlXn8f-VFylBIe3yCPjERIXBH-0creNVFu4vw1nwfYoKOfadceSYSyZsA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/RNJ05wuOOOOJeDQPP_2Kc1CoX2MYxI39B-n8YZ2QlXYnTFPaSD77BDiu_jg6T0AM1i9x5G0Qwuunu8ZCPImHMOy4A0uLhjKWBOO6b_9sW_Q356FB_N0d7RjsNCF2xpPBJ_qRVV4zsQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/hSvZFAIcsG58m76yIg2jfV-0mtZ14GSrIlOKmGS-HTMmSPIvrUq2EXjBPoD4ZyWlzjMNRv2opZA9Bl0zjVhweKow-6YbdcHdfZ6W14DKHDBYGz2z6BQUtj_vYRwUNnyKDbpV1wJCGg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/dNCxVsds5Z_aXlr9BvCU2f-x799ZRBcsKDKYiz2nyxAc4bbt-mU80MTbIoO50swiuakf2958oKPCpZFPV9p8zjjmGdu5RHtfoaTlz5j2WbwrmmE75-o_BghkhCkOfieeMFpJKp92xA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/bfJ2vMiZr_cy4ODyOHOpVlyZzbWPSHDWgQ7dLdCJiWcjCQtDCM4K-c3EmMGUg6glAfI6JfY19qRG0pfHCWBDQt4WxWFgZX8wXrJbZzHpUma2ZKjsqnmzRcgccAodxQ-ohRv_GGuytA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/_z3I1Ve5tUyWYLXk3nSb9PY99nzBCVsckeCOgYasPqsi3uZmie20FPe7t1yxxSC1swMrpqAefBYbeqbRsjb8KzvGieBKM54TXZHZoxt-MMBPG9LjZjcL-vzr54IwMEeWlIldXbv25Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/K-An2NYX30f4ASjt-U2nh_kVEHR_ADjGlQ04_nOkdivfXM8ypCAzruY1dL-ruNigcfYB6uIYcdkB1JAQo1X2BtFbT1gnFZXadsBOtS92ywUH5RPLAvf7sf3wbC3lwf3JBqEdwT-gJw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/wdew5jMdcN6NeO8XtJTTiH2yS2mqQTimj5VBp-7kasqoTg84B4kOHxr_8g0nIlDuKUwNxO6CageV0UOujpMwSNBEal4jxF5Vhfd8x4qsC-F9pNKXGTH--qfv3o-nDTAtEVLfQCdm6Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/G0MMUZiIaIWc1RhUXRZCRYXRQcWELIstN_T7IcK7J-dxXzu9J2yH74r99j7z4WNiUgXP5cgjLv4Ms6BNdfQpTRbFNnl15_qbOayqU4x5NzQ8M-QE5z7sEEW01apzH00wb0KskFVgtw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/l2ilm1gVLmq86Anf8DCwHBVIIDbc2h7ANNeGEEcKV9uH5HedQBgLm7dUC1lPMbbLyU-j8x5-Q-_wCjU_zBNmX3VK7wZ1wLPlIyuYTkgCCdXSJwjn3LC2UG2TiJIp-Viy_h9nLdBUhA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/gQM39JK549F7ngwsSjsUUz9Ir4l_yXs7IUmAPAIUEUW5Bq9RiyfTOwWfLKfby2Ait-LbfheSsXZj0zCQpEJWWcDnOdYGJszrT-QNMrStDvTtKLryv6AEPoU37GobOL4JRxVYFR1cWw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Ig74MIYthisjO923zdnNUtcmOY7bHaDp5bFdoWgUxwbqc_chR6JM4jHMrJY9oUqUwSXsXG24n9qoBcrVVY3HcaLmmvUHLYgFTWx39KT1WC9IIL9mDSHJeELMBWN674xNy29GFnARKQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/96Eb-GBq1WRtiJTQbL5UhKzegkf_DF7HCkhwGYTwS3mPeP06BV5NVN4UF8sUEU835t7bh0x5HsmcjETPbCjM5s4ZgiU_7t5C5rAGUZC_Km_uzGUzENYE-PqhYq5_LYkJcijlOeX5rA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/yQbpEI8hqSzhHtWVDlJJsB87l5hY7kKnZsayWWXsGABfYJ5XQBZaypO2X7wNN-uV_nS9MMIswJOZlM1zM3XFVzJzi0tFQZFNjwh8sXdYvguxsTM-ESJ3feoE-K67XgyKKC27sFCSNA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/8uMNIIoQv6QIiUgo1z-_ykVPC2CSYhlTsAvcGEkHwfCj7cu6L7mV5c6LpxEP_tlfXR3hn-6lPpT-2KhbqrLEq-Vx0CgGb0y7HfSEus6U4TZn3TcDNHrhHwOXS7q1SfY6RTP1MigWmQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/fD0lxkSJCkIK3JcOdAdWDSRLJ74H_icUuQ3jjf_6lBVgtMEmLIE9BJ_vi74EzJVVL4kBMrvAeqmAiR3U8BBwMOY9Qu5kw6aPTCu6CtRR9yaRnkX8q5XOLVxBhZTMWQn90ayJhi2wxw=w1920-h1080"></object>
</div>

        {{!-- <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157667740069068/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 WATTxIEEE Cookie Social</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157688183866490/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 Uber Worskhop</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157693544458745/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 Intel Dinner</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157689582494382/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 LED Crafts</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/135432894@N08/albums/72157691670369674/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 Big Sister LIttle Sister</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157662811366137/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2018 Google Resume Workshop</p>
        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap">
                <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157687364010421/player"
                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
            <p class="gallery-album-title">2017 Wearables Workshop</p>
        </div>

            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/135432894@N08/albums/72157687350535911/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2017 Mentorship Reveal</p>
            </div>

            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157684250121886/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2017 Spring Breakfast Social</p>
            </div>

            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/144839492@N07/albums/72157675536214581/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2016 Hike at Runyon Canyon Social</p>
            </div>

            <div class="page-content gallery-card col sm-24 md-124">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157678901867136/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2016 WATT Wearables Workshop</p>
            </div>



            <div class="page-content gallery-card col sm-24 md-124">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157678901754886/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2016 Fall EAT/EWD</p>
            </div>

            <div class="page-content gallery-card col sm-24 md-124">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/143450762@N06/albums/72157670524410553/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2016 Professional Networking Night</p>
            </div> --}}

    </div>
</div>
{{> footer}}
