{{>header}}
<body>
    <div id="bulb">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="117.289px" height="328.227px" viewBox="0 0 117.289 328.227" enable-background="new 0 0 117.289 328.227"
	 xml:space="preserve">
<g>
	<path fill="#F8F099" d="M35.667,189.844c0,0,0.002,23.811-10.316,36.508c-10.316,12.699-25.398,17.461-25.398,50.001
		c0,32.538,19.049,51.585,59.525,50.792h-1.762c40.477,0.793,59.526-18.254,59.526-50.792c0-32.54-15.082-37.302-25.398-50.001
		c-10.318-12.697-10.316-36.508-10.316-36.508H35.667z"/>
	<g>

			<line fill="none" stroke="#B0B0B0" stroke-width="0.6592" stroke-miterlimit="10" x1="73.041" y1="258.506" x2="64.979" y2="224.986"/>

			<line fill="none" stroke="#B0B0B0" stroke-width="0.6592" stroke-miterlimit="10" x1="51.337" y1="224.986" x2="43.266" y2="258.505"/>

			<line fill="none" stroke="#B0B0B0" stroke-width="0.6592" stroke-miterlimit="10" x1="58.505" y1="265.736" x2="58.505" y2="226.177"/>
	</g>

		<radialGradient id="SVGID_1_" cx="13.7192" cy="77.7683" r="12.8361" gradientTransform="matrix(2.1685 0 0 -2 28.8472 364.1882)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#FFFFFF"/>
	</radialGradient>

		<radialGradient id="SVGID_2_" cx="106.0972" cy="-50.4246" r="14.3062" gradientTransform="matrix(1 0 0 -1 -47.5 158.2271)" gradientUnits="userSpaceOnUse">
		<stop  offset="0.9836" style="stop-color:#FFFFFF;stop-opacity:0.4"/>
		<stop  offset="0.9859" style="stop-color:#FFFFFF;stop-opacity:0.4848"/>
		<stop  offset="1" style="stop-color:#FFFFFF"/>
	</radialGradient>
	<path opacity="0.5" fill="url(#SVGID_1_)" stroke="url(#SVGID_2_)" stroke-miterlimit="10" enable-background="new    " d="
		M50.465,190.902v30.5c0,0-1.626,4.75,8.132,5c9.758-0.25,8.132-5,8.132-5v-30.5H50.465z"/>
	<path fill="none" stroke="#B0B0B0" stroke-width="0.6791" stroke-miterlimit="10" d="M43.266,258.505
		c1.546,0.119,1.081,6.151,2.627,6.271c1.546,0.118,2.011-5.914,3.557-5.795c1.546,0.119,1.082,6.151,2.628,6.271
		c1.549,0.119,2.014-5.913,3.562-5.794c1.548,0.119,1.312,6.278,2.865,6.278c1.481,0,1.233-6.158,2.709-6.276
		c1.478-0.119,1.964,5.911,3.439,5.792c1.477-0.119,0.991-6.149,2.469-6.27c1.479-0.119,1.965,5.911,3.444,5.792
		s0.993-6.148,2.474-6.269"/>

		<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="101.145" y1="74.4768" x2="108.4585" y2="74.4768" gradientTransform="matrix(1 0 0 -1 -47.5 158.2271)">
		<stop  offset="0" style="stop-color:#D9D9D9"/>
		<stop  offset="1" style="stop-color:#C6C6C6"/>
	</linearGradient>
	<rect x="53.645" y="0" fill="url(#SVGID_3_)" width="7.313" height="167.5"/>

		<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="80.3257" y1="-17.3787" x2="131.8667" y2="-17.3787" gradientTransform="matrix(1 0 0 -1 -47.5 158.2271)">
		<stop  offset="0" style="stop-color:#A8A8A8"/>
		<stop  offset="1" style="stop-color:#414141"/>
	</linearGradient>
	<path fill="url(#SVGID_4_)" d="M84.367,192.443c0,0,0-12.357,0-24.064s-12.885-9.431-25.771-9.431
		c-12.884,0-25.77-2.276-25.77,9.431s0,24.064,0,24.064H84.367z"/>
</g>
</svg>

    </div>
    <div class="text"></div>
    <div class="text shadow"></div>
{{>footer}}
