{{> header}}
<div class="waves-full-background">
		<div class="site-wrapper">
			<div class="about-cover-heading">IEEE WATT</div>
			<div class="about-cover-sub">Women Advancing Technology through Teamwork</div>
		</div>
</div>

<div class="page-body">
    <div class="page-wrapper home-container container">

		<div class="home-div">
			<div class="page-content fam-card home-learn-img col xs-24 sm-24 md-9"></div>
			<div class="page-content fam-card col sm-24 md-15" >
				<!-- <div data-anijs="if: scroll, on: window, do: swing animated, before: scrollReveal">
        Cuba 2022
    </div> -->
				<p class="card-title">Women in Tech: Spotlight of the Month</p>
				<p class="fam-card-description">“I have very personally felt the overwhelming loneliness, self-doubt, and frustration that often comes with the minority status of a woman in engineering. As much as I can help others get through or avoid those difficult stretches that I myself had to weather, I’d like to. As a bonus, the more women (and minorities) that enter and don’t leave the field, the better it all gets for everyone, including me!” - Tracy Chou, Software Engineer at Pinterest</p>
			</div>
		</div>

		<div class="home-div">
			<div class="page-content fam-card col xs-24 sm-24 md-24">
				<p class="card-title">Upcoming Events</p>
				<!-- <div class="row home-row">
					<div class="col xs-3 sm-3 md-2 home-date">
						10/3/17
					</div>
					<div class="col xs-21 sm-21 md-22">
						<p class="home-event-name">Fall General Meeting</p>
						<p>Maxwell Room | Welcome to WATT! It's time to kick off the year with some exciting announcements of our upcoming events as well as games to ignite friendships, both old and new. New members are welcome! *There may be free pizza*</p>
					</div>
				</div> -->
				<!-- <div class="row home-row">
					<div class="col xs-3 sm-3 md-2 home-date">
						10/10/17
					</div>
					<div class="col xs-21 sm-21 md-22">
						<p class="home-event-name">Ice-Breaking and Blocking</p>
						<p>Bottom of Janss Steps | Come and meet some fellow engineers at our first event of the school year! Get a chance to make some new WATT friends and race them down the Janss Steps' hill! *Diddy Riese will be provided!*</p>
					</div>
				</div> -->
				<!-- <div class="row home-row">
					<div class="col xs-3 sm-3 md-2 home-date">
						10/13/17
					</div>
					<div class="col xs-21 sm-21 md-22">
						<p class="home-event-name">Mentorship Reveal</p>
						<p>Boelter 4760 | All aboard the HogWATTs express! If you applied to be a part of the mentorship program come join us for an evening of icebreakers, pizza, and fun! You'll be sorted into houses and meet your family for the rest of the year!</p>
					</div>
				</div> -->
				<!-- <div class="row home-row">
					<div class="col xs-3 sm-3 md-2 home-date">
						10/19/17
					</div>
					<div class="col xs-21 sm-21 md-22">
						<p class="home-event-name">Wearables Worshop</p>
						<p>Boelter 4760 | All aboard the HogWATTs express! If you applied to be a part of the mentorship program come join us for an evening of icebreakers, pizza, and fun! You'll be sorted into houses and meet your family for the rest of the year!</p>
					</div>
				</div> -->
				<div class="row home-row">
					<div class="col xs-3 sm-3 md-2 home-date">
						11/7/17
					</div>
					<div class="col xs-21 sm-21 md-22">
						<p class="home-event-name">Study Session</p>
						<p>Need a place on campus to study for midterms? Come by and join other fellow members in the struggle of the midterm season. Snacks will be provided! Update: The room has been changed to the Faraday Room. See you all there!</p>
					</div>
				</div>
				<div class="row home-row">
					<div class="col xs-3 sm-3 md-2 home-date">
						11/14/17
					</div>
					<div class="col xs-21 sm-21 md-22">
						<p class="home-event-name">Depression and Anxiety Workshop</p>
						<p>What are depression and anxiety? How does it feel to you or people you know who have depression or anxiety? What are some tips to make us or others feel better when depressed or anxious? Take a deep breath, and come share your story. We will be alternating between a presentation and discussion. Food to boost your mood will be provided (nuts, dark chocolate, green tea)!</p>
					</div>
				</div>
				<div class="row home-row">
					<div class="col xs-3 sm-3 md-2 home-date">
						11/17/17
					</div>
					<div class="col xs-21 sm-21 md-22">
						<p class="home-event-name">Board Games and Riddles</p>
						<p>Swing by for a chance to play board games and get your mind blown with some fun riddles! Bring riddles to share and enjoy fun board and card games. Also a great way to self-care and meet some cool people during midterm season. Snacks and games will be provided!</p>
					</div>
				</div>


			</div>
		</div>



		<div class="page-content" style="margin-bottom: 3%">
				<div id="mc_embed_signup">
				<form action="https://facebook.us13.list-manage.com/subscribe/post?u=a6bd9370a45ed22657eb7af16&amp;id=d96251281c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<h2 class="card-title">Subscribe to IEEE WATT's mailing list!</h2>
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div class="mc-field-group">
					<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
				</label>
					<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
				</div>
				<div class="mc-field-group">
					<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
				</label>
					<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6bd9370a45ed22657eb7af16_d96251281c" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>

			</div>
    </div>
</div>

{{> footer}}
