{{> header}}
<div class="home-page-cover">
		<div class="site-wrapper">
			<div class="about-cover-heading">IEEE WATT</div>
			<div class="about-cover-sub">Women Advancing Technology through Teamwork</div>
			<div style="text-align:center;">
				<form method="get" onclick=" window.open('https://docs.google.com/forms/d/e/1FAIpQLScwmaJVD3o1_nIoiDrUz8f209UEJ-CIUywItWrTdaHjouDQPw/viewform','_blank')" style="display: inline-block;"><button type="submit" id="home-light-button">Apply to Board!</button></form>
				<form method="get" action="/mission" style="display: inline-block;"><button type="submit" id="home-button">Learn More</button></form>
				<form method="get" action="/families" style="display: inline-block;"><button type="submit" id="home-button">Mentorship</button></form>
			</div>
		</div>
</div>

<div class="page-body">
    <div class="page-wrapper home-container container">

		<div class="home-div">
			<div class="page-content fam-card home-learn-img col xs-24 sm-24 md-9"></div>
			<div class="page-content fam-card col sm-24 md-15" >
				<p class="card-title" style="text-align:center;">Women in Tech: Spotlight</p>
				<i class="fas fa-quote-left fa-3x home-icon col md-4"></i>
				<div class="col md-20">
					<p class="fam-card-description">We need to understand that if we all work on inclusion together, it’s going to be faster, broader, better, and more thorough than anything we can do on our own.</p>
					<p class="fam-card-description" style="text-align:right;font-style:italic">- Ellen Pao</p>
				</div>
			</div>
		</div>

		<div class="home-div">
			<div class="page-content fam-card col xs-24 sm-24 md-24">
				<p class="card-title">Upcoming Events</p>
				<div id="events-mount"></div>
			</div>
		</div>

		<div class="page-content" style="margin-bottom: 3%">
				<div id="mc_embed_signup">
				<form action="https://facebook.us13.list-manage.com/subscribe/post?u=a6bd9370a45ed22657eb7af16&amp;id=d96251281c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<h2 class="card-title">Subscribe to IEEE WATT's mailing list!</h2>
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div class="mc-field-group">
					<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
				</label>
					<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
				</div>
				<div class="mc-field-group">
					<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
				</label>
					<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6bd9370a45ed22657eb7af16_d96251281c" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>

			</div>
    </div>
</div>

{{> footer}}
