{{> header}}
<div class="home-page-cover">
		<div class="site-wrapper">
			{{!-- <div class="about-cover-heading">IEEE WATT</div> --}}
			{{!-- <div class="about-cover-sub">Women Advancing Technology through Teamwork</div> --}}
			{{!-- <div style="text-align:center;">
				<form method="get" action="/mission" style="display: inline-block;"><button type="submit" id="home-button">Learn More</button></form>
				<form method="get" action="/families" style="display: inline-block;"><button type="submit" id="home-button">Mentorship</button></form>
			</div> --}}
			<img src="img/WATT.png" style="width: 100%; height: auto; padding-top: 64px;">
		</div>
</div>

								{{!-- <p class="card-title" style="text-align:center;">Visit our lab!</p> --}}

{{!-- <p>Visit our lab in Boelter Hall 6514! It's open to WATT members 
									and affiliates Monday through Friday from 12 PM to 4 PM, unless otherwise noted. 
									The lab is a collaborative space where you can hang out, do homework, and meet new people. 
									Please be mindful and respectful of others while using the space. Please refer to our 
									<a href="https://docs.google.com/document/d/1ZKrVJvh5wXCIFooFgpySMlwv9C4umcNvD1hUA5RRkrg/">Lab Space Rules</a> for more information. 
								</p> --}}
<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="home-div" style="display: flex; align-items: center;">
			<div class="home-mission">
				<div class="custom-container1">
					<img src="img/backgroundphotos/mission-img-1b.png">
				</div>
				<div class="custom-container1">
					<img src="img/backgroundphotos/welcome2.png">
				</div>
				<div class="custom-container1">
					<img src="img/backgroundphotos/mission-img-2b.png">
				</div>
			</div>
        </div>
    </div>


	<div class="handwritten-h2" style="font-family: 'Indie Flower', regular;">
		What We Do
	</div>
	<div class="page-wrapper home-container container" style="padding: 0px;">
		<div class="home-div" >
			<div class="home-whatwedo">
				<div class="custom-container1">
					<img src="img/backgroundphotos/bg-whatwedo-1b.png">
				</div>
				<div class="custom-container1">
					<img src="img/backgroundphotos/bg-whatwedo-2b.png">
				</div>
				<div class="custom-container1">
					<img src="img/backgroundphotos/bg-whatwedo-3b.png">
				</div>
			</div>
		</div>
	</div>

	<div class="handwritten-h2" style="font-family: 'Indie Flower', regular;">
		Visit our lab in Boelter Hall 6514 during our lab hours!
	</div>
	<div class="page-wrapper home-container container" style="padding: 0px;">
		<table border="1" style="margin: 0px auto;">
			<tr>
				<th></th>
				<th style="background-color: #5cccb4;">MONDAY</th>
				<th style="background-color: #1c9c74">TUESDAY</th>
				<th style="background-color: #5cccb4;">WEDNESDAY</th>
				<th style="background-color: #1c9c74">THURSDAY</th>
				<th style="background-color: #5cccb4;">FRIDAY</th>
			</tr>
			<tr>
				<td class="highlight"><b>12PM - 12:55PM</b></td>
				<td>SYDNEY<br>HEIDI<br>CHRISTINE<br>DIYA</td>
				<td>JACKIE<BR>AVA<BR>HARMONY</td>
				<td>HEIDI<BR>CHRISTINE</td>
				<td>DIYA<BR>SAACHI<BR>MEGAN</td>
				<td>EUGENIA</td>
			</tr>
			<tr>
				<td class="highlight"><b>12:55PM - 1:55PM</b></td>
				<td>NIKITHA<BR>TARUNI<BR>JESSIE<BR>DIYA<BR>SOPHIE</td>
				<td>JACKIE<BR>AMY<BR>HARMONY</td>
				<td>NINA<BR>ALEXA<BR>CHRISTINE<BR>SOPHIA<BR>SOPHIE</td>
				<td>KATIE<BR>MEGAN<BR>SAACHI<BR>AMY</td>
				<td>EUGENIA</td>
			</tr>
			<tr>
				<td class="highlight"><b>1:55PM - 2:55PM</b></td>
				<td>NIKITHA<BR>TARUNI<BR>NINA<BR>JESSIE</td>
				<td>SYDNEY<BR>ANIKA<BR>AVA<BR>AMY</td>
				<td>NINA<BR>ALEXA<BR>JACKIE<BR>SOPHIA</td>
				<td>ANIKA<BR>KATIE<BR>SYDNEY</td>
				<td>HARMONY</td>
			</tr>
			<tr>
				<td class="highlight"><b>2:55PM - 3:55PM</b></td>
				<td>NIKITHA<BR>TARUNI<BR>JESSIE</td>
				<td>ANIKA<BR>AVA</td>
				<td>JACKIE<BR>AVA</td>
				<td>JACKIE<BR>ANIKA<BR>KATIE</td>
				<td>HEIDI</td>
			</tr>
		</table>
	</div>

	<div class="handwritten-h2" style="font-family: 'Indie Flower', regular;">
		Events
	</div>
	<div class="handwritten-h3" style="font-family: 'Indie Flower', regular; text-align: center; ">
		Our Google Calendar is up to date with our latest events! Add them to your calendar!
	</div>

	{{!-- <div class="page-wrapper home-container container" style="padding: 0px;">
		<div class="home-div">
			<div class="home-events">
				<div class="custom-calendar1">
					<iframe src="https://calendar.google.com/calendar/embed?src=wie.ieee.ucla%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="200%" height="200%" frameborder="0" scrolling="no"></iframe>
				</div>
			</div>
		</div>
	</div> --}}
	<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&src=d2llLmllZWUudWNsYUBnbWFpbC5jb20&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%2300a688&color=%230B8043" style="border:solid 1px #777" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>


	
	<div class="handwritten-h2" style="font-family: 'Indie Flower', regular;">
		Join our Newsletter!
	</div>
	<div class="handwritten-h3" style="font-family: 'Indie Flower', regular; text-align: center; ">
		<a href="http://eepurl.com/b0lwSv">Sign up here!</a>
	</div>
	<div class="page-wrapper home-container container" style="padding: 0px;">
		<div class="home-div" >
			<div class="home-whatwedo">
				<div class="custom-container1">
					<img src="img/backgroundphotos/newsletter.png">
				</div>
				<div class="custom-container1">
					<img src="img/backgroundphotos/newsletter-update.png">
				</div>
				<div class="custom-container1">
					<img src="img/backgroundphotos/events.png">
				</div>
			</div>
		</div>
	</div>

<!--
		<div class="page-content" style="margin-bottom: 3%">
				<div id="mc_embed_signup">
				    <div id="mc_embed_signup_scroll">
					<h2 class="card-title">Subscribe to IEEE WATT's mailing list!</h2>
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div class="mc-field-group">
					<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
				</label>
					<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
				</div>
				<div class="mc-field-group">
					<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
				</label>
					<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6bd9370a45ed22657eb7af16_d96251281c" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>

			
		</div>-->
    </div>
</div>

{{> footer}}
