{{> header}}
<div class="waves-full-background">
		<div class="site-wrapper">
			<div class="about-cover-heading">Coming soon.</div>
			<!-- <div class="about-cover-sub">GET INVOLVED</div> -->
			<div "about-media-buttons"></div>
		</div>
</div>

<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="home-div">
            <div class="page-content fam-card col sm-24 md-24 lg-24">
                <p class="fam-card-name">Our Mission</p>
                <p class="fam-card-description">We are an advocacy group for women and minorities in Electrical Engineering, operating as a branch of IEEE's WIE (Women In Engineering). We are an advocacy group for women and minorities in Electrical Engineering, operating as a branch of IEEE's WIE (Women In Engineering).</p>
            </div>
        </div>
		<div class="home-div">
			<div class="page-content fam-card home-join-card col xs-24 sm-24 md-10">
				<p class="fam-card-name">Our Story</p>
				<p class="fam-card-description">Some of our activities include: tinkering workshops, social atmosphere talks, mentorships programs, and outreach (to other engineering majors and K - 12 students). Some of our activities include: tinkering workshops, social atmosphere talks, mentorships programs, and outreach (to other engineering majors and K - 12 students).</p>
			</div>
			<div class="page-content fam-card home-join-img col xs-24 sm-24 md-14"></div>
		</div>
		<div class="home-div">
			<div class="page-content fam-card home-learn-img col xs-24 sm-24 md-9"></div>
			<div class="page-content fam-card col sm-24 md-15">
				<p class="fam-card-name">Learn about Women in Tech!</p>
				<p class="fam-card-description">“When you enter tech, you realize that there are more men than women. You can’t deny that. But, I don’t think you can make that an obstacle. You can’t get deterred as a female founder knowing that’s the landscape. You need to ignore the naysayers (of course there will be naysayers) and surround yourself with investors who believe in you, believe in your idea, believe in the market you’re going after, and believe in your ability to execute, most importantly.” - Rachel Tipograph, Founder and CEO of MikMak.TV</p>
			</div>
		</div>
		<div class="home-div">
			<div class="page-content fam-card col xs-24 sm-24 md-24">
				<p class="fam-card-house-name">Upcoming Events</p>
				<div class="row">
					<div class="col sm-2 md-2">
						10/3/17
					</div>
					<div class="col sm-22 md-22">
						<p>Fall General Meeting</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col sm-2 md-2">
						10/10/17
					</div>
					<div class="col sm-22 md-22">
						<p>Ice-Breaking and Blocking</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col sm-2 md-2">
						10/13/17
					</div>
					<div class="col sm-22 md-22">
						<p>Mentorship Reveal</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col sm-2 md-2">
						10/19/17
					</div>
					<div class="col sm-22 md-22">
						<p>Wearables Worshop</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col sm-2 md-2">
						10/24/17
					</div>
					<div class="col sm-22 md-22">
						<p>Productivity Workshop</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
			</div>
		</div>


    </div>
</div>

{{> footer}}
