{{> header}}
<div class="waves-full-background">
		<div class="site-wrapper">
			<div class="about-cover-heading">Coming soon.</div>
			<!-- <div class="about-cover-sub">GET INVOLVED</div> -->
			<div "about-media-buttons"></div>
		</div>
</div>
<!-- <div class="jumbotron">
			<p>
            	This is place to put content. You can put slider, short description about your website and place some links for navigation.
        	</p>
</div> -->
<div class="page-body">
    <div class="page-cover-photo home">
        <div class="page-heading">Welcome to WATT</div>
    </div>
    <div class="page-wrapper container">
        <div class="row">
            <div class="page-content fam-card col sm-24 md-24">
                <p class="fam-card-name">Our Mission</p>
                <p class="fam-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
		<div class="row">
			<div class="page-content fam-card home-join-card col sm-10 md-10">
				<p class="fam-card-name">Join IEEE WATT!</p>
				<p class="fam-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
			</div>
			<div class="page-content fam-card col sm-13 md-13"></div>
		</div>
		<div class="row">
			<div class="page-content fam-card home-learn-img col sm-9 md-9"></div>
			<div class="page-content fam-card col sm-15 md-15">
				<p class="fam-card-name">Learn about Women in Tech!</p>
				<p class="fam-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
		<div class="row">
			<div class="page-content fam-card col sm-24 md-24">
				<p class="fam-card-house-name">Upcoming Events</p>
				<div class="row">
					<div class="col sm-2 md-2">
						hahaha
					</div>
					<div class="col sm-22 md-22">
						<p>Brunch this weekend</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col sm-2 md-2">
						hahaha
					</div>
					<div class="col sm-22 md-22">
						<p>Brunch this weekend</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col sm-2 md-2">
						hahaha
					</div>
					<div class="col sm-22 md-22">
						<p>Brunch this weekend</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col sm-2 md-2">
						hahaha
					</div>
					<div class="col sm-22 md-22">
						<p>Brunch this weekend</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
				<div class="row">
					<div class="col sm-2 md-2">
						hahaha
					</div>
					<div class="col sm-22 md-22">
						<p>Brunch this weekend</p>
						<p>Ali Connors | lorem lorem lorem lorem lorem</p>
					</div>
				</div>
			</div>
		</div>


    </div>
</div>

<!-- <div class="row home-text" id="home-text">
	  <div class="col-md-6">
		  <div><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

	</p></div>
	  </br>
		  <div><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

	</p></div>
	  </br>
		  <div><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

	</p></div>
	  </div>
	  <div class="col-md-6">
		  <div><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

	</p></div>
	  </br>
		  <div><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

	</p></div>
	  </br>
		  <div><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

	</p></div>
	  </br>
	  </div>
</div> -->
{{> footer}}
