{{> header}}
<div class="home-page-cover">
    <div class="site-wrapper">
        <img src="img/WATT.png" class="watt-logo" alt="WATT Logo">
    </div>
</div>

<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="home-div home-mission-flex">
            <div class="home-mission">
                <div class="custom-container1">
                    <img src="img/backgroundphotos/mission-img-1b.png" alt="Mission image 1">
                </div>
                <div class="custom-container1">
                    <img src="img/backgroundphotos/welcome2.png" alt="Welcome image">
                </div>
                <div class="custom-container1">
                    <img src="img/backgroundphotos/mission-img-2b.png" alt="Mission image 2">
                </div>
            </div>
        </div>
    </div>

    <div class="handwritten-h2">What We Do</div>
    <div class="page-wrapper home-container container whatwedo-wrapper">
        <div class="home-div">
            <div class="home-whatwedo">
                <div class="custom-container1">
                    <img src="img/backgroundphotos/bg-whatwedo-1b.png" alt="What we do image 1">
                </div>
                <div class="custom-container1">
                    <img src="img/backgroundphotos/bg-whatwedo-2b.png" alt="What we do image 2">
                </div>
                <div class="custom-container1">
                    <img src="img/backgroundphotos/bg-whatwedo-3b.png" alt="What we do image 3">
                </div>
            </div>
        </div>
    </div>

    <div class="handwritten-h2">Visit our lab in Boelter Hall 6514 during our lab hours!</div>
    <div class="page-wrapper home-container container lab-hours-wrapper">
        <table class="lab-hours-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="day-header-teal">MONDAY</th>
                    <th class="day-header-green">TUESDAY</th>
                    <th class="day-header-teal">WEDNESDAY</th>
                    <th class="day-header-green">THURSDAY</th>
                    <th class="day-header-teal">FRIDAY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="time-slot"><b>12PM - 12:55PM</b></td>
                    <td>SYDNEY<br>HEIDI<br>CHRISTINE<br>DIYA</td>
                    <td>JACKIE<br>AVA<br>HARMONY</td>
                    <td>HEIDI<br>CHRISTINE</td>
                    <td>DIYA<br>SAACHI<br>MEGAN</td>
                    <td>EUGENIA</td>
                </tr>
                <tr>
                    <td class="time-slot"><b>12:55PM - 1:55PM</b></td>
                    <td>NIKITHA<br>TARUNI<br>JESSIE<br>DIYA<br>SOPHIE</td>
                    <td>JACKIE<br>AMY<br>HARMONY</td>
                    <td>NINA<br>ALEXA<br>CHRISTINE<br>SOPHIA<br>SOPHIE</td>
                    <td>KATIE<br>MEGAN<br>SAACHI<br>AMY</td>
                    <td>EUGENIA</td>
                </tr>
                <tr>
                    <td class="time-slot"><b>1:55PM - 2:55PM</b></td>
                    <td>NIKITHA<br>TARUNI<br>NINA<br>JESSIE</td>
                    <td>SYDNEY<br>ANIKA<br>AVA<br>AMY</td>
                    <td>NINA<br>ALEXA<br>JACKIE<br>SOPHIA</td>
                    <td>ANIKA<br>KATIE<br>SYDNEY</td>
                    <td>HARMONY</td>
                </tr>
                <tr>
                    <td class="time-slot"><b>2:55PM - 3:55PM</b></td>
                    <td>NIKITHA<br>TARUNI<br>JESSIE</td>
                    <td>ANIKA<br>AVA</td>
                    <td>JACKIE<br>AVA</td>
                    <td>JACKIE<br>ANIKA<br>KATIE</td>
                    <td>HEIDI</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="handwritten-h2">Events</div>
    <div class="handwritten-h3">Our Google Calendar is up to date with our latest events! Add them to your calendar!</div>

    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&src=d2llLmllZWUudWNsYUBnbWFpbC5jb20&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%2300a688&color=%230B8043" class="google-calendar" title="WATT Events Calendar"></iframe>

    <div class="handwritten-h2">Join our Newsletter!</div>
    <div class="handwritten-h3"><a href="http://eepurl.com/b0lwSv">Sign up here!</a></div>
    <div class="page-wrapper home-container container newsletter-wrapper">
        <div class="home-div">
            <div class="home-whatwedo">
                <div class="custom-container1">
                    <img src="img/backgroundphotos/newsletter.png" alt="Newsletter image 1">
                </div>
                <div class="custom-container1">
                    <img src="img/backgroundphotos/newsletter-update.png" alt="Newsletter image 2">
                </div>
                <div class="custom-container1">
                    <img src="img/backgroundphotos/events.png" alt="Newsletter image 3">
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
