{{> header}}
<div class="waves-full-background">
		<div class="site-wrapper">
			<div class="about-cover-heading">Coming soon.</div>
			<!-- <div class="about-cover-sub">GET INVOLVED</div> -->
			<div "about-media-buttons"></div>
		</div>
</div>

<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="home-div">
            <div class="page-content fam-card col sm-24 md-24 lg-24">
                <p class="card-title">Who We Are</p>
                <p class="fam-card-description">We are a technical advocacy group for women and minorities in Electrical Engineering, operating as a branch of IEEE’s WIE (Women In Engineering). We empower both students at UCLA and younger girls in our community. Join if you want to inspire others, tinker with EE and network with industry professionals.</p>
            </div>
        </div>
		<!-- <div class="home-div">
			<div class="page-content fam-card home-join-card col xs-24 sm-24 md-10">
				<p class="card-title">What We Do</p>
				<p class="fam-card-description">We hold a mentorship program called <a href="/families">HogWATTs</a> for incoming EE students. We also have activites open to all general members including: <a href="/projects">tinkering workshops</a>, social atmosphere talks, and outreach (to other engineering majors and K - 12 students). Every workshop is beginner friendly and members will have the freedom for creativity. Members will learn basic circuits, career tips, and managing a healthy school life balance.</p>
			</div>
			<div class="page-content fam-card home-join-img col xs-24 sm-24 md-14"></div>
		</div> -->
		<div class="home-div">
			<div class="page-content fam-card home-learn-img col xs-24 sm-24 md-9"></div>
			<div class="page-content fam-card col sm-24 md-15">
				<p class="card-title">Women in Tech: Spotlight of the Month</p>
				<p class="fam-card-description">“When you enter tech, you realize that there are more men than women. You can’t deny that. But, I don’t think you can make that an obstacle. You can’t get deterred as a female founder knowing that’s the landscape. You need to ignore the naysayers (of course there will be naysayers) and surround yourself with investors who believe in you, believe in your idea, believe in the market you’re going after, and believe in your ability to execute, most importantly.” - Rachel Tipograph, Founder and CEO of MikMak.TV</p>
			</div>
		</div>
		<div class="home-div">
			<div class="page-content fam-card col xs-24 sm-24 md-24">
				<p class="card-title">Upcoming Events</p>
				<div class="row home-row">
					<div class="col xs-2 sm-2 md-2 home-date">
						10/3/17
					</div>
					<div class="col xs-22 sm-22 md-22">
						<p class="home-event-name">Fall General Meeting</p>
						<p>Maxwell Room | Welcome to WATT! It's time to kick off the year with some exciting announcements of our upcoming events as well as games to ignite friendships, both old and new. New members are welcome! *There may be free pizza*</p>
					</div>
				</div>
				<div class="row home-row">
					<div class="col xs-2 sm-2 md-2 home-date">
						10/10/17
					</div>
					<div class="col xs-22 sm-22 md-22">
						<p class="home-event-name">Ice-Breaking and Blocking</p>
						<p>Bottom of Janss Steps | Come and meet some fellow engineers at our first event of the school year! Get a chance to make some new WATT friends and race them down the Janss Steps' hill! *Diddy Riese will be provided!*</p>
					</div>
				</div>
				<div class="row home-row">
					<div class="col sm-2 md-2 home-date">
						10/13/17
					</div>
					<div class="col xs-2 2sm-22 md-22">
						<p class="home-event-name">Mentorship Reveal</p>
						<p>Boelter 4760 | All aboard the HogWATTs express! If you applied to be a part of the mentorship program come join us for an evening of icebreakers, pizza, and fun! You'll be sorted into houses and meet your family for the rest of the year!</p>
					</div>
				</div>
				<div class="row home-row">
					<div class="col xs-2 sm-2 md-2 home-date">
						10/19/17
					</div>
					<div class="col xs-22 sm-22 md-22">
						<p class="home-event-name">Wearables Worshop</p>
						<p>Boelter 4760 | All aboard the HogWATTs express! If you applied to be a part of the mentorship program come join us for an evening of icebreakers, pizza, and fun! You'll be sorted into houses and meet your family for the rest of the year!</p>
					</div>
				</div>
				<div class="row home-row">
					<div class="col xs-2 sm-2 md-2 home-date">
						10/24/17
					</div>
					<div class="col xs-22 sm-22 md-22">
						<p class="home-event-name">Productivity Workshop</p>
						<p>Faraday | TBA</p>
					</div>
				</div>
			</div>
		</div>


    </div>
</div>

{{> footer}}
