    {{> header}}

    <div class="page-body">
        <div class="page-cover-photo sponsor-photo">
            <div class="page-heading">Thank you to our sponsors</div>
        </div>
        <div class="page-wrapper fam-container container">
            <div class="page-content">
                <p class="card-title">Our sponsors are helping us create a safe, welcoming space for girls in tech to find support and friendship. Your help makes our community stronger and creates a better, more diverse tech world for tomorrow!</p>
                <div class="sponsor-container">
                     {{!-- <div id="sponsors-mount"></div> --}}
                  <img src="img/sponsors/qualcomm.png" alt="Qualcomm Logo" class="sponsor-img" width="400" />
                  <img src="img/sponsors/northrop.png" alt="Northrop Logo" class="sponsor-img" width="400" />
                  <img src="img/sponsors/google.png" alt="Google Logo" class="sponsor-img" width="400"/>
                  <img src="img/sponsors/intel.png" alt="Intel Logo" class="sponsor-img" width="400"/>
                  <img src="img/sponsors/oath.png" alt="Oath Logo" class="sponsor-img" width="400"/>
                  <img src="img/sponsors/uber.jpg" alt="Uber Logo" class="sponsor-img" width="400"/>
                  <img src="img/sponsors/cray.png" alt="Cray Logo" class="sponsor-img" width="400"/>
                  <img src="img/sponsors/symantec.png" alt="Symantec Logo" class="sponsor-img" width="400"/>
                </div>
        </div>
    </div>

    </div>
    {{> footer}}
