{{> header}}
<div class="page-body">
    <div class="page-cover-photo family-photo">
        <div class="page-heading">Mission</div>
    </div>
    <div class="page-wrapper home-container container">
        <div class="home-div">
            <div class="page-content fam-card col sm-24 md-24 lg-24">
                <p class="card-title">WIE's Mission</p>
                <p class="fam-card-description">Our goal is to facilitate the recruitment and retention of women in technical disciplines globally. We envision a vibrant community of IEEE women and men collectively using their diverse talents to innovate for the benefit of humanity.</p>
            </div>
        </div>
        <div class="home-div">
            <div class="page-content fam-card col sm-24 md-24 lg-24">
                <p class="card-title">WATT's Mission</p>
                <p class="fam-card-description">We are a technical advocacy group for women and minorities in Electrical Engineering, operating as a branch of IEEE’s WIE (Women In Engineering). We empower both students at UCLA and younger girls in our community. Join if you want to inspire others, tinker with EE and network with industry professionals.</p>
            </div>
        </div>
		<div class="home-div">
			<div class="page-content fam-card home-join-card col xs-24 sm-24 md-10">
				<p class="card-title">What We Do</p>
				<p class="fam-card-description">We hold a mentorship program called <a href="/families">HogWATTs</a> for incoming EE students. We also have activites open to all general members including: <a href="/projects">tinkering workshops</a>, social atmosphere talks, and outreach (to other engineering majors and K - 12 students). Every workshop is beginner friendly and members will have the freedom for creativity. Members will learn basic circuits, career tips, and managing a healthy school life balance.</p>
			</div>
			<div class="page-content fam-card home-join-img col xs-24 sm-24 md-14"></div>
		</div>
		<div class="home-div">
			<div class="page-content fam-card home-learn-img col xs-24 sm-24 md-9"></div>
			<div class="page-content fam-card col sm-24 md-15">
				<p class="card-title">How to Join</p>
				<p class="fam-card-description">Students can join as a general member and attend the majority of our events. Students can also join the mentorship program as mentors or mentees in the beginning of the year. These members will have mentorship specific events for the purpose of building connections in professional, social, and technical areas.  </p>
			</div>
		</div>


    </div>
</div>
{{> footer}}
