{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/siranush-bsls.jpg)">
    <div class="page-heading">Our Mission</div>
</div>
<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="home-div page-content-outline">
            <div class="mission fam-card col sm-24 md-24 lg-24">
                <p class="card-title">IEEE WIE's Mission <a href="http://wie.ieee.org/"><i id="social-fl" class="fa fa-external-link-square social"></i></a></p>
                <p class="fam-card-description">Our goal is to facilitate the recruitment and retention of women in technical disciplines globally. We envision a vibrant community of IEEE women and men collectively using their diverse talents to innovate for the benefit of humanity.</p>
            </div>  
            <div class="mission fam-card col sm-24 md-24 lg-24">
                <p class="card-title">WATT's Mission</p>
                <p class="fam-card-description">We are a technical advocacy group for women and minorities in Electrical Engineering, operating as a branch of <a href="http://ieee.ucla.edu/">IEEE</a>. We empower both students at UCLA and younger girls in our community.</p>
            </div>
        </div>

        <div class="page-content-photo" style="text-align: center;">
            <img src = "../img/backgroundphotos/social-house.jpg" style="width:700px; border-radius:6px;"/>
            {{!-- <div class="home-join-img"></div> --}}
        </div>

        <div class="page-content" style="margin-bottom: 50px;">
            <p class="card-title">What We Do</p>
            <div class="home-div">
                <div class="col xs-8 sm-8 md-8" id="mission-container">
                    <i class="fas fa-tools fa-7x mission-icon"></i>
                    <p class="mission-yellow-subtitle">TINKER</p> 
                    <p class="fam-card-description">We hold beginner-friendly workshops, providing small projects that teach members basic circuit and coding skills and give them room for creativity. We also have a year-long project for members looking for a more advanced way to apply their learning.</p> 
                </div>
                <div class="col xs-8 sm-8 md-8" id="mission-container">
                    <i class="fas fa-magic fa-7x mission-icon"></i>
                    <p class="mission-yellow-subtitle">MENTORSHIP</p> 
                    <p class="fam-card-description">Our <a href="/families">HogWATTs</a> mentorship program is a space for underclassmen to learn from and connect with upperclassmen as well as WATT alumni. Members also have an opportunity to mentor K - 12 students through volunteering events, helping young girls foster an interest in engineering.</p>
                </div>
                <div class="col xs-8 sm-8 md-8" id="mission-container">
                    <i class="fas fa-people-arrows fa-7x mission-icon"></i>
                    <p class="mission-yellow-subtitle">NETWORK</p> 
                    <p class="fam-card-description">Members will be able to network with industry professionals through resume workshops and professional development events. Our joint events with SWE and ACM-W allow members to meet students from other clubs and develop more professional and social relationships.</p>
                </div>
            </div>
        </div>
        <div class="home-div">
            <div class="page-content-photo fam-card home-do-img col xs-24 sm-24 md-10"></div>
            <div class="page-content fam-card col xs-24 sm-24 md-14">
                <p class="card-title">How to Join</p>
                <p class="fam-card-description">Sign up for our email list and follow our facebook page to learn about workshops, socials, and other events that are open to everyone! Sign up for our mentorship program at the beginning of each school year to learn about mentorship-specific events.</p>
            </div>
        </div>
    </div>


    {{!-- MENTORSHIP --}}
    {{!-- <div class="page-wrapper fam-container container">
        <div class="row fam-row">
            <div class="page-content mentor-main-card col sm-24 md-24 col">
                <div class="mentor-inner-left col xs-24 sm-15 md-18">
                <p class="card-title">Welcome to HogWATTs!</p>
                <p class="fam-card-description"> Formerly EmpowHer Mentorship, we are now HogWATTs Mentorship. Our banana hat sorts mentees and mentors into families based on key areas for being successful in electrical engineering. We pair mentors and mentees based on each other's personalities and needs. </p>
                </div>
                <div class="hogwatts-pic col xs-24 sm-9 md-6">
                    <img src="img/logos/hogwatts.png" alt="Mentorship Logo" class="mentor-main-pic"></img>
                </div>

            </div>
        </div>

        <div class="home-div">
            <div class="fam-card fam-pic page-content-photo col xs-24 sm-10 md-6">
                <img src="img/mentorship/raven.png" alt="RavenCapacitor Logo" class="mentor-pic"></img>
            </div>
			<div class="page-content fam-card col sm-16 md-18" >
                <p class="card-title">RavenCapacitor</p>
                <p class="fam-card-house-name">Academic House</p>
                <p class="fam-card-heads">Prefect: Jennifer Seki</p>
                <p class="fam-card-description">RavenCapacitor value intelligence and learning and are commonly found in the lounge or at Powell. They will be your best friends during finals weeks.</p>
			</div>
		</div>

        <div class="home-div">
            <div class="fam-card fam-pic page-content-photo col xs-24 sm-10 md-6">
                <img src="img/mentorship/slyther.png" alt="SlytherOhm Logo" class="mentor-pic"></img>
            </div>
			<div class="page-content fam-card col sm-14 md-18" >
                <p class="card-title">SlytherOhm</p>
                <p class="fam-card-house-name">Professional House</p>
                <p class="fam-card-heads">Prefect: Allison Doami</p>
                <p class="fam-card-description">SlytherOhms are resourceful and value leadership, leading them to be successful in getting internships and being involved in clubs.</p>
            </div>
		</div>

        <div class="home-div">
            <div class="fam-card fam-pic page-content-photo col xs-24 sm-10 md-6">
                <img src="img/mentorship/gryf.png" alt="GryffInductor Logo" class="mentor-pic"></img>
            </div>
            <div class="page-content fam-card col sm-14 md-18" >
                <p class="card-title">GryffInductor</p>
                <p class="fam-card-house-name">Social House</p>
                <p class="fam-card-heads">Prefect: Meena Nagappan</p>
                <p class="fam-card-description">GryffInductors are chivalrous and brave. They know when and where to party, and are those who walk into lecture halls confidently during midterm and finals season.</p>
            </div>
        </div>

        <div class="home-div">
            <div class="fam-card fam-pic page-content-photo col xs-24 sm-10 md-6">
                <img src="img/mentorship/huffle.png" class="mentor-pic" alt="HufflePower Logo"></img>
            </div>
            <div class="page-content fam-card col sm-14 md-18" >
                <p class="card-title">HufflePower</p>
                <p class="fam-card-house-name">Technical House</p>
                <p class="fam-card-heads">Prefects: Ariana Kazemi</p>
                <p class="fam-card-description">HufflePower is the Technical house. HufflePowers are hard workers and have a lot of patience, making some of the coolest gadgets and being able to debug code without getting very stressed.</p>
            </div>
        </div>

    </div> --}}

    {{!-- TEAM --}}
    {{!-- <div class="page-wrapper">
        <div class="page-content">
            <div class="card-title">2020-2021 Board Members</div>
            <section class="section">
                <div class="section-container">
                    <div class="container team-container column">
                        <div class="container team-container constrained">
                            <div class="grid align-start">
                                <div id="officers-mount"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div> --}}

</div>
{{> footer}}
