{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/erin-tinker.jpg)">
    <div class="page-heading">Past Projects</div>
</div>
<div class="page-body">
    <div class="page-wrapper container gallery-container">
        <div id="projects-mount"></div>
    </div>
</div>
{{> footer}}
