{{> header}}

<div class="page-body">
    <div class="page-cover-photo">
        <div class="page-heading">Past Projects</div>
    </div>
    <div class="page-wrapper container gallery-container">
        <div class="page-content gallery-card col sm-24 md-24">

            <div class="flickrwrap project-wrap">
                <img src="img/eventphotos/audiows.jpg" alt="Audio Workshop Gallery" class="project-img">
            </div>
            <div class="project-title">
                <p class="project-name">Audio Workshop</p>
            </div>
            <p class="project-date">4/24/2017</p>
            <a href="https://www.facebook.com/events/1710673605899546/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <p class="fam-card-description"></p>

        </div>

        <div class="page-content gallery-card col sm-24 md-24">

            <div class="flickrwrap project-wrap">
                <img src="img/eventphotos/rfws2.jpg" alt="RF Workshop Gallery" class="project-img">
            </div>
            <div class="project-title">
                <p class="project-name">RF Workshop</p>
            </div>
            <p class="project-date">4/17/2017</p>
            <a href="https://www.facebook.com/events/556822414526173/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <p class="fam-card-description"></p>

        </div>

        <div class="page-content gallery-card col sm-24 md-24">

            <div class="flickrwrap project-wrap">
                <img src="img/eventphotos/designws.jpg" alt="Design Concepts Workshop Gallery" class="project-img">
            </div>
            <div class="project-title">
                <p class="project-name"> Design Concepts Workshop</p>

            </div>
            <p class="project-date">4/11/2017</p>
            <a href="https://www.facebook.com/events/1663298890350955/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <p class="fam-card-description"></p>

        </div>

        <div class="page-content gallery-card col sm-24 md-24">

            <div class="flickrwrap project-wrap">
                <img src="img/eventphotos/rfws.jpg" alt="RF Workshop Gallery" class="project-img">
            </div>
            <div class="project-title">
                <p class="project-name">RF Workshop</p>

            </div>
            <p class="project-date">2/22/2017</p>
            <a href="https://www.facebook.com/events/1199347506847311/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>

            <p class="fam-card-description"></p>

        </div>

        <div class="page-content gallery-card col sm-24 md-24">

            <div class="flickrwrap project-wrap">
                <img src="img/eventphotos/valentinesws.jpg" alt="Valentines Workshop Gallery" class="project-img">
            </div>
            <div class="project-title">
                <p class="project-name">Valentine's Workshop</p>

            </div>
            <p class="project-date">2/08/2017</p>
            <a href="https://www.facebook.com/events/185447715269874/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>

            <p class="fam-card-description"></p>

        </div>

        <div class="page-content gallery-card col sm-24 md-24">

            <div class="flickrwrap project-wrap">
                <img src="img/eventphotos/wearablesws2.jpg" alt="Wearables Workshop Gallery" class="project-img">
            </div>
            <div class="project-title">
                <p class="project-name">Wearables Workshop 2</p>

            </div>
            <p class="project-date">11/10/2016</p>
            <a href="https://www.facebook.com/events/325982431127452/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>

            <p class="fam-card-description"></p>

        </div>

        <div class="page-content gallery-card col sm-24 md-24">
            <div class="flickrwrap project-wrap">
                <img src="img/eventphotos/wearablesws1.jpg" alt="Wearables Workshop Gallery" class="project-img">
            </div>
            <div class="project-title">
                <p class="project-name">Wearables Workshop 1</p>

            </div>
            <p class="project-date">10/28/2016</p>
            <a href="https://www.facebook.com/events/385779441753175/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>

            <p class="fam-card-description"></p>

        </div>

    </div>
</div>
{{> footer}}
