{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/erin-tinker.jpg)">
    <div class="page-heading">Projects</div>
</div>

<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="page-content">
            <p class="green-card-title">Raspberry Pi Facial Recognition Project (2020-2021)</p>
            <div class="home-div">
                <p class="fam-card-description">Participants will create a Python program to perform Facial Recognition on a Raspberry Pi using a pre-existing classifier. Through this project, participants will develop their Python programming skills and be introduced to some Machine Learning concepts and algorithms. We will utilize OpenCV libraries for computer vision and PiCamera to interface with a Raspberry Pi Camera in Python. Participants will implement code to detect and capture faces as positive training samples, train a recognizer with the labelled images, and then recognize the faces that made up the training samples. This project can be extended to perform useful functions with facial recognition, such as using it to control a lock.</p>
            </div>
            <p class="fam-card-description">All workshop links can be found <a href="https://docs.google.com/document/d/1OS7rt1BbQHmvYflUpfjlHHJSIQyoZooWRUwN8MJOAZE/edit" target="_blank">here</a>.</p>
            <div class="home-div">
                <div class="page-content fam-card-text col sm-14 md-18" >
                    <p class="fam-card-description">The preliminary Python workshops provide a basic foundation of Python and introduces common commands that will be used for the project.</p>
                </div>
                <div class="page-content fam-card-text col sm-14 md-18" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLGo2nQrv3dulYqY7AjgzuDQGahHuMj7-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="home-div">
                <div class="page-content fam-card-text col sm-14 md-18" >
                    <p class="fam-card-description">The Raspberry Pi workshops (in progress) provide instruction for using the Raspberry Pi to perform facial recognition.</p>
                </div>
                <div class="page-content fam-card-text col sm-14 md-18" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLGo2nQrv3dulQW-5iGZZnraBlsbQcRDk6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        {{!-- <div class="page-content">
            <p class="green-card-title">Workshops</p>
        </div> --}}
    </div>
</div>

{{!-- <div class="page-body">
    <div class="page-wrapper container gallery-container">
        <div id="projects-mount"></div>
    </div>
</div> --}}
{{> footer}}
