{{> header}}

<div class="page-body">
    <div class="page-cover-photo">
        <div class="page-heading">Past Projects</div>
    </div>
    <div class="page-wrapper container gallery-container">
        <div class="page-content gallery-card col sm-24 md-124">
            <a href="https://www.facebook.com/events/1710673605899546/">
            <div class="flickrwrap">
                <img src="img/eventphotos/audiows.jpg">
            </div>
            <p class="project-title">Audio Workshop</p>
            <p class="project-date">4/24/2017</p>
        </a>
        </div>

        <div class="page-content gallery-card col sm-24 md-124">
            <a href="https://www.facebook.com/events/556822414526173/">
            <div class="flickrwrap">
                <img src="img/eventphotos/rfws2.jpg">
            </div>
            <p class="project-title">RF Workshop 2</p>
            <p class="project-date">4/17/2017</p>
        </a>
        </div>

        <div class="page-content gallery-card col sm-24 md-124">
            <a href="https://www.facebook.com/events/1663298890350955/">
            <div class="flickrwrap">
                <img src="img/eventphotos/designws.jpg">
            </div>
            <p class="project-title">Design Concepts Workshop</p>
            <p class="project-date">4/11/2017</p>
        </a>
        </div>

            <div class="page-content gallery-card col sm-24 md-124">
                <a href="https://www.facebook.com/events/1199347506847311/">
                <div class="flickrwrap">
                    <img src="img/eventphotos/rfws.jpg">
                </div>
                <p class="project-title">RF Workshop</p>
                <p class="project-date">2/22/2017</p>
            </a>
            </div>

            <div class="page-content gallery-card col sm-24 md-124">
                <a href="https://www.facebook.com/events/185447715269874/">
                <div class="flickrwrap">
                    <img src="img/eventphotos/valentinesws.jpg">
                </div>
                <p class="project-title">Valentine's Workshop</p>
                <p class="project-date">2/08/2017</p>
            </a>
            </div>

            <div class="page-content gallery-card col sm-24 md-124">
                <a href="https://www.facebook.com/events/325982431127452/">
                <div class="flickrwrap">
                    <img src="img/eventphotos/wearablesws2.jpg">
                </div>
                <p class="project-title">Wearables Workshop 2</p>
                <p class="project-date">11/10/2016</p>
            </a>
            </div>

            <div class="page-content gallery-card col sm-24 md-124">
                <a href="https://www.facebook.com/events/385779441753175/">
                <div class="flickrwrap">
                    <img src="img/eventphotos/wearablesws1.jpg">
                </div>
                <p class="project-title">Wearables Workshop 1</p>
                <p class="project-date">10/28/2016</p>
            </a>
            </div>

    </div>
</div>
{{> footer}}
