{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/PProjects.png)">
    {{!-- <div class="page-heading">Projects</div> --}}
</div>

<div class="page-body">
    <div class="page-wrapper home-container container">
        <div class="page-content">
            <p class="green-card-title">Workshops</p>
            <div class="home-div">
                <p class="fam-card-description">The technical team at UCLA WATT puts on 2-3 beginner friendly workshops each quarter, which help college students gain fundamental experience with electrical and computer engineering concepts. Our workshops are open to all students at UCLA and are often attended by people outside of the ECE department. WATT Technical workshops are designed to teach technical skills in a fun, low-stress environment, often featuring cute crafts that participants can take home with them.</p>
            </div>
        </div>
        <div class="page-content">
            <p class="green-card-title">EDI, Advocacy, Wellness</p>
            <div class="home-div">
                <p class="fam-card-description">We strive to make sure everyone feels comfortable, safe, and empowered to reach their full potential of being a woman in STEM. We host events that range from more serious events to make sure people are educated on how important EDI is in STEM to fun events like field days and game nights. By hosting collaborations with  like-minded organizations such as ACM and SWE, we are able to put on events that can positively impact different communities. </p>
            </div>
        </div>
        <div class="page-content">
            <p class="green-card-title">Outreach</p>
            <div class="home-div">
                <p class="fam-card-description">We work to introduce students to ECE by hosting workshops at various local high schools and at outreach events both at UCLA and externally. By hosting these workshops we hope to encourage young students to explore the field of ECE and feel empowered to pursue it!</p>
            </div>
        </div>
        <div class="page-content">
            <p class="green-card-title">Corporate</p>
            <div class="home-div">
                <p class="fam-card-description">We host career-prep workshops and professional development events to help members with the recruitment process. We provide networking opportunities with corporations, give career advice, and help develop new skills.  </p>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="page-body">
    <div class="page-wrapper container gallery-container">
        <div id="projects-mount"></div>
    </div>
</div> --}}
{{> footer}}
