{{> header}}
<div class="page-body">
    <div class="page-cover-photo">
        <div class="page-heading">Past Projects</div>
    </div>
    <div class="page-wrapper container gallery-container">
        <div id="projects-mount"></div>
    </div>
</div>
{{> footer}}
