{{> header}}

<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/bob-ross.jpg)">
    <div class="page-heading">Recordings</div>
</div>
<div class="page-body">
    <div class="page-wrapper" align="center" style="padding-bottom: 0%;">
        <div class="card-title">Watch recordings of our past events here:</div>
    </div>
    <div class="page-wrapper" align="center">
        <iframe class="video-wrapper" src="https://www.youtube.com/embed/Lbd430ugLog" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="fam-card-description" style="margin-top: 5px;">2020 Fall General Meeting</p>
    </div>
</div>
</div>
{{> footer}}