{{> header}}

<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/bob-ross.jpg)">
    <div class="page-heading">Recordings</div>
</div>
<div class="page-wrapper" align="center">
    <iframe src="https://drive.google.com/file/d/1THRQ9xzOxDIwQ3Q02V1TTN2xYDyi3dwC/preview" width="640" height="480"></iframe>
    <p class="fam-card-description">2020 Fall General Meeting</p>
</div>

</div>
{{> footer}}