{{> header}}

<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/bob-ross.jpg)">
    <div class="page-heading">Recordings</div>
</div>
<div class="page-body">
    <div class="page-wrapper" align="center" style="padding-bottom: 0%;">
        <div class="card-title">Watch recordings of our past events!</div>
    </div>
    <div class="page-wrapper" align="center">
        <iframe class="video-wrapper" src="https://www.youtube.com/embed/O_W8YdW3cCE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="fam-card-description" style="margin-top: 5px;">Python Snake Game Workshop</p>
        <p class="fam-card-description">You can access the workshop slides <a href="https://docs.google.com/presentation/d/1mtIx_RIIpYFGma7_-Yhf23axNTau5eRXq9hMktbV_Ss/edit#slide=id.gc2158a9217_0_49" target="_blank">here</a> and all other links <a href="https://docs.google.com/document/d/1CmmRNvLj768coRSFn6Bicap_YzqMI69ncRsofFKs1kY/edit?usp=sharing" target="_blank">here</a>.</p>
    </div>
    <div class="page-wrapper" align="center">
        <iframe class="video-wrapper" src="https://www.youtube.com/embed/tN6qw74L4mM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="fam-card-description" style="margin-top: 5px;">Linux Command Line Tutorial</p>
    </div>
    <div class="page-wrapper" align="center">
        <iframe class="video-wrapper" src="https://www.youtube.com/embed/TBt6c3dIWVE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="fam-card-description" style="margin-top: 5px;">SWExWATT: Intro to Python Workshop III</p>
        <p class="fam-card-description">You can access the workshop slides <a href="https://docs.google.com/presentation/d/10fV6DBvUfN6XNtSj9ONCYTbyZsMqjQyw75BVHkKwrx8/edit#slide=id.p" target="_blank">here</a> and all other links <a href="https://docs.google.com/document/d/1XGQ9IT1x9EflQprhPDYnFpTj-QYNu7TF090Itg2Suf4/edit?usp=sharing" target="_blank">here</a>.</p>
    </div>
    <div class="page-wrapper" align="center">
        <iframe class="video-wrapper" src="https://www.youtube.com/embed/Qff9wK7N7aU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="fam-card-description" style="margin-top: 5px;">SWExWATT: Intro to Python Workshop II</p>
        <p class="fam-card-description">You can access the workshop slides <a href="https://tinyurl.com/swewattpythons2" target="_blank">here</a> and all other links <a href="https://docs.google.com/document/d/1XGQ9IT1x9EflQprhPDYnFpTj-QYNu7TF090Itg2Suf4/edit?usp=sharing" target="_blank">here</a>.</p>
    </div>
    <div class="page-wrapper" align="center">
        <iframe class="video-wrapper" src="https://www.youtube.com/embed/lCyQItrpXfU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="fam-card-description" style="margin-top: 5px;">SWExWATT: LED Crafts</p>
    </div>
    <div class="page-wrapper" align="center">
        <iframe class="video-wrapper" src="https://www.youtube.com/embed/DUjoL7rIVYw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="fam-card-description" style="margin-top: 5px;">SWExWATT: Intro to Python Workshop I</p>
        <p class="fam-card-description">You can access the workshop slides <a href="https://tinyurl.com/swewattpythons1" target="_blank">here</a> and all other links <a href="https://docs.google.com/document/d/1XGQ9IT1x9EflQprhPDYnFpTj-QYNu7TF090Itg2Suf4/edit?usp=sharing" target="_blank">here</a>.</p>
    </div>
    <div class="page-wrapper" align="center">
        <iframe class="video-wrapper" src="https://www.youtube.com/embed/Lbd430ugLog" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="fam-card-description" style="margin-top: 5px;">2020 Fall General Meeting</p>
    </div>
</div>
</div>
{{> footer}}