
    {{> header}}
    <div class="page-cover-photo" style="--img: url(../img/backgroundphotos/rubia-google.jpg)">
        <div class="page-heading">Sponsors</div>
    </div>
    <div class="page-body">
        <div class="page-wrapper fam-container container">
            <div class="page-content">
                <p class="card-title">Thank you to our sponsors!</p>
                <div class="sponsor-container">
                     {{!-- <div id="sponsors-mount"></div> --}}
                  <img src="img/sponsors/google.png" alt="Google Logo" class="sponsor-img" width="400"/>
                  <img src="img/sponsors/at&t.png" alt="AT&T Logo" class="sponsor-img" width="400" />
                  <img src="img/sponsors/intel.png" alt="Intel Logo" class="sponsor-img" width="400"/>
                  <!-- <img src="img/sponsors/northrop.png" alt="Northrop Logo" class="sponsor-img" width="400" /> -->
                </div>
        </div>
    </div>

    </div>
    {{> footer}}
