
    {{> header}}

    <div class="page-body">
        <div class="page-cover-photo">
            <div class="page-heading">Our Sponsors</div>
        </div>
        <div class="page-wrapper fam-container container">
            <div class="page-content">
                <p class="card-title">Thank you to our sponsors!</p>
                <div class="container">
                  <img class="sponsor-img" src="img/sponsors/qualcomm.png" width="400" />
                  <img class="sponsor-img" src="img/sponsors/northrop.png" width="400" />
                  <img class="sponsor-img" src="img/sponsors/google.png" width="400"/>
                  <img class="sponsor-img" src="img/sponsors/intel.png" width="400"/>
                  <img class="sponsor-img" src="img/sponsors/oath.png" width="400"/>
                  <img class="sponsor-img" src="img/sponsors/uber.jpg" width="400"/>
                </div>
        </div>
    </div>

    </div>
    {{> footer}}
