
    {{> header}}
    <div class="page-cover-photo" style="--img: url(../img/backgroundphotos/rubia-google.jpg)">
        <div class="page-heading">Sponsors</div>
    </div>
    <div class="page-body">
        <div class="page-wrapper fam-container container">
            <div class="page-content">
                <p style="text-align: center;">
                    <i class="fas fa-heart fa-lg sponsor-icon"></i>
                    <span class="green-card-title">This year's sponsors</span>
                    <i class="fas fa-heart fa-lg sponsor-icon"></i>
                </p>
                <div class="sponsor-container">
                     {{!-- <div id="sponsors-mount"></div> --}}
                  <img src="img/sponsors/google.png" alt="Google Logo" class="sponsor-img"/>
                  <img src="img/sponsors/at&t.png" alt="AT&T Logo" class="sponsor-img" />
                  <img src="img/sponsors/intel.png" alt="Intel Logo" class="sponsor-img"/>
                  <img src="img/sponsors/socaledison.png" alt="SoCal Edison Logo" class="sponsor-img"/>
                </div>
                {{!-- <p class="green-card-title" style="text-align:center; margin-top: 50px;">Thank you to all our sponsors!</p> --}}
                <p style="text-align: center; margin-top: 50px;">
                    <i class="fas fa-lightbulb fa-lg sponsor-icon"></i>
                    <span class="green-card-title">Thank you to all our sponsors!</span>
                    <i class="fas fa-lightbulb fa-lg sponsor-icon"></i>
                </p>
                <div class="sponsor-container">
                  <img src="img/sponsors/northrop.png" alt="Northrop Logo" class="sponsor-img"/>
                  <img src="img/sponsors/qualcomm.png" alt="Qualcomm Logo" class="sponsor-img-wide" />
                  <img src="img/sponsors/symantec.png" alt="Symantec Logo" class="sponsor-img" />
                  <img src="img/sponsors/uber.jpg" alt="Uber Logo" class="sponsor-img"/>
                  <img src="img/sponsors/cray.png" alt="Cray Logo" class="sponsor-img-wide"/>
                  <img src="img/sponsors/oath.png" alt="Oath Logo" class="sponsor-img"/>
                  <img src="img/sponsors/wysebridge.png" alt="Wysebridge Logo" class="sponsor-img"/>
                </div>
        </div>
    </div>

    </div>
    {{> footer}}
