{{> header}}

<div class="page-body">
    <div class="page-cover-photo">
        <div class="page-heading">Meet the Team</div>
    </div>
    <div class="page-wrapper">
        <div class="page-content">
            <div class="team-subheading">2017-2018 Board Members</div>
            <section class="section">
                <div class="section-container">
                    <div class="container team-container column">
                        <div class="container team-container constrained">
                            <div class="grid align-start">
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Allison Doami</h4>
                                        <h5>External Co-President</h5>
                                        <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Tanvi Rane</h4>
                                        <h5>External Co-President</h5>
                                        <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Katrina Wijaya</h4>
                                        <h5>External Co-President</h5>
                                        <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Siarnush Martirosyan</h4>
                                        <h5>External Co-President</h5>
                                        <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Meena Nagappan</h4>
                                        <h5>Mentorship Chair</h5>
                                        <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/ale.jpg">
                                        <h4>Alejandra Uribe</h4>
                                        <h5>Social Chair</h5>
                                        <p>Alejandra is a second year Mathematics of Computation major. During her free time she enjoys playing the ukulele, watching Game of Thrones, and teaching people math.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Catherine Cheng</h4>
                                        <h5>External Co-President</h5>
                                        <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Jennifer Seki</h4>
                                        <h5>Events Coordinator</h5>
                                        <p>2nd year Electrical Engineering major. Loves soccer, traveling, and food. Yearns to travel and eat more, but devastated by the cost. </p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Tanzeela Khan</h4>
                                        <h5>Webmaster</h5>
                                        <p>I like to sing while running down hills. I also code.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Maurene Jiang</h4>
                                        <h5>Corporate Relations</h5>
                                        <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Melissa Cox</h4>
                                        <h5>Publicity Chair</h5>
                                        <p>Melissa is a second year Computer Science major. She loves art, karaoke, and videogames. She does not like pollution, the quarter system, and comic sans. She hopes to travel to new destinations, especially natural wonders.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div><span class="sexy_line"></span></div>
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/tanzeela.jpg">
                                        <h4>Rubia Liu</h4>
                                        <h5>External Co-President</h5>
                                        <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                <div><span class="sexy_line"></span></div>    </div>
                </div>
            </section>
        </div>
    </div>

</div>
{{> footer}}
