{{> header}}
<div class="page-cover-photo" style="--img: url(../img/backgroundphotos/retreat-group.jpg)">
    <div class="page-heading">Meet the Team</div>
</div>
<div class="page-body">
    <div class="page-wrapper">
        <div class="page-content">
            <div class="card-title">2021-2022 Board Members</div>
            <section class="section">
                <div class="section-container">
                    <div class="container team-container column">
                        <div class="container team-container constrained">
                            <div class="grid align-start">
                                <div id="officers-mount"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{{> footer}}
