@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Bitter);
body {
  background-color: white;
  line-height: 1.428571;
  /* margin-top: 50px; */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h5 {
  margin-top: 0px;
}

.fam-card-description a .fa {
  font-size: 20px;
}

.row {
  display: flex;
  /* equal height of the children */
  margin-left: 2%;
  margin-right: 2%;
}

.card-title {
  color: black;
  font-size: medium;
  font-size: x-large;
  font-weight: 500;
}

.green-card-title {
  color: #00d0af;
  font-size: medium;
  font-size: x-large;
  font-weight: bold;
}

.page-body {
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  /*box-shadow: 0px 1px 3px #000000;*/
  /*min-width: 840px;*/
}

.page-content {
  background-color: white;
  padding: 2%;
  background-position: center center;
}

.page-content-outline {
  background-color: white;
  padding: 2%;
  outline-style: solid;
  outline-color: #00d0af;
  background-position: center center;
  margin-bottom: 25px;
}

.page-content-photo {
  background-color: white;
  border-radius: 6px;
  padding: 2%;
  background-position: center center;
}

.page-cover-photo {
  background: linear-gradient(rgba(232, 228, 238, 0.5), rgba(232, 228, 238, 0.5)), var(--img);
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.contact-photo {
  background-image: url(../img/backgroundphotos/fab-google.jpg.jpg);
}

.page-heading {
  text-align: 1px 1px gray;
  font-size: 55px;
  font-weight: 1000;
  text-shadow: 0px 0px 20px black;
  font-family: "Bitter";
}

.page-wrapper {
  padding: 6%;
}

.home-page-cover {
  background-color: #14806f;
  background-image: url(../img/WATT-website-banner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 50px;
  background-size: 100%;
  height: 85vh;
  /*COLORS*/
  /*CENTER DIV!!*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*background:
        linear-gradient(
          rgba(79,192,170, 0.45),
          rgba(79,192,170, 0.45)
        ),
        url(../img/tanzeela.jpg);*/
  /*opacity: .7;*/
}
.home-page-cover .dark-green {
  color: #14806f;
}
.home-page-cover .light-green {
  color: #00d0af;
}
.home-page-cover .very-light-green {
  color: #a0ebde;
}

.site-wrapper {
  max-width: 90%;
  margin: auto;
}

/* ---------------------------------------LOADING PAGE ---------------------------------------*/
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loadingGifs/loader-64x/Preloader_3.gif) center no-repeat white;
}

/* #loader-wrapper .loader-section{
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left{
    left: 0;
}

#loader-wrapper .loader-section.section-left{
    right: 0;
} */
/* ---------------------------------------NAVBAR ---------------------------------------*/
.bg {
  /* opacity: 0; */
  /* background-color: #f8f8f8; */
  /* background: #000; */
}

.show {
  /* opacity: 0.7; */
}

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar {
  margin-bottom: 0px;
  color: #442b55;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar.transparent.navbar-inverse {
  background: rgba(0, 0, 0, 0.4);
}

.dropdown-menu {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #442b55;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #442b55;
}

#navbar-brand {
  color: #00d0af;
}

#nav-logo {
  display: inline-block;
  width: 24px;
}

#feedback-tab {
  background: #a698ab;
  color: #f8f8f8;
}

#feedback-tab:hover {
  background: #f8f8f8;
  color: #442b55;
}

.about-cover-heading {
  color: white;
  font-family: "Bitter";
  font-size: 70px;
  font-weight: normal;
  text-align: center;
}

.about-cover-sub {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: "Bitter";
}

#home-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  transition: background-color 0.5s;
  display: inline-block;
  margin: 15px;
  margin-top: 30px;
}

#home-button:hover {
  background-color: white;
  color: #14806f;
}

.jumbotron {
  margin-bottom: 0px;
}

.home-text {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #a8d7ce;
}

.home-event-name {
  font-weight: bold;
  color: #8d8d8d;
}

.page-cover-photo.home {
  height: 93.5vh;
}

#home-text {
  margin-left: 5%;
  margin-right: 5%;
}

.home-icon {
  color: #14806f;
  text-align: center;
}

.mission {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
}

.mission-yellow-subtitle {
  color: #ffce00;
  text-align: left;
  font-weight: 500;
  font-size: 18;
}

#mission-container {
  background-color: #d7faf4;
  margin-bottom: 1cm;
}

.home-join-card {
  margin-right: 4%;
}

.home-join-img {
  background-image: url(../img/backgroundphotos/social-house.jpg);
  background-size: cover;
  min-height: 292px;
}

.home-do-img {
  margin-right: 4%;
  background-image: url(../img/backgroundphotos/mission-page-photo.JPG);
  background-size: cover;
  min-height: 197px;
}

.home-learn-img {
  margin-right: 4%;
  background-image: url(../img/backgroundphotos/ideahacks.jpg);
  background-size: cover;
  min-height: 197px;
}

.home-date {
  margin-right: 1%;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  .page-cover-photo {
    height: 40vh;
  }

  .home-page-cover {
    /* height: 60vh; */
  }

  .home-date {
    min-width: 20%;
  }
}
/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.home-container {
  width: 100%;
}

/* Clear floats */
.home-container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.home-div {
  display: flex;
}

.home-row {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 786px) {
  .home-div {
    display: block;
  }

  .home-join-img,
.home-learn-img {
    height: 40%;
  }

  .sponsor-help-img,
.sponsor-overview-img {
    height: 74%;
  }
}
.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/*404 page*/
h1 {
  font-size: 70px;
  color: #000120;
  line-height: 1.5em;
  margin: 0px;
}

a {
  color: #00d0af;
}

a:link {
  text-decoration: none;
}

.img-err {
  width: 400px;
}

.background-404 {
  background-color: #4fc0aa;
  /*background-image: url(../img/main-image-green.png);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 93vh;
  /*CENTER DIV!!*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*background:
            linear-gradient(
              rgba(79,192,170, 0.45),
              rgba(79,192,170, 0.45)
            ),
            url(../img/tanzeela.jpg);*/
  text-align: center;
}

/*TEAM PAGE*/
.team-container {
  width: 100%;
  margin: auto;
  padding-right: 0;
  padding-left: 0;
}

.team-container.constrained {
  max-width: 1024px;
}

.grid,
.grid-strict {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.grid-strict:after,
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid.align-start {
  align-items: flex-start;
}

.grid > .col {
  padding: 8px;
}

.col {
  float: left;
  width: 100%;
  max-width: 100%;
}

.col.xs-1 {
  width: 4.16667%;
}

.col.xs-2 {
  width: 8.33333%;
}

.col.xs-3 {
  width: 12.5%;
}

.col.xs-4 {
  width: 16.66667%;
}

.col.xs-5 {
  width: 20.83333%;
}

.col.xs-6 {
  width: 25%;
}

.col.xs-7 {
  width: 29.16667%;
}

.col.xs-8 {
  width: 33.33333%;
}

.col.xs-9 {
  width: 37.5%;
}

.col.xs-10 {
  width: 41.66667%;
}

.col.xs-11 {
  width: 45.83333%;
}

.col.xs-12 {
  width: 50%;
}

.col.xs-13 {
  width: 54.16667%;
}

.col.xs-14 {
  width: 58.33333%;
}

.col.xs-15 {
  width: 62.5%;
}

.col.xs-16 {
  width: 66.66667%;
}

.col.xs-17 {
  width: 70.83333%;
}

.col.xs-18 {
  width: 75%;
}

.col.xs-19 {
  width: 79.16667%;
}

.col.xs-20 {
  width: 83.33333%;
}

.col.xs-21 {
  width: 87.5%;
}

.col.xs-22 {
  width: 91.66667%;
}

.col.xs-23 {
  width: 95.83333%;
}

.col.xs-24 {
  width: 100%;
  float: left;
}

@media (min-width: 768px) {
  .col.sm-1 {
    width: 4.16667%;
  }

  .col.sm-2 {
    width: 8.33333%;
  }

  .col.sm-3 {
    width: 12.5%;
  }

  .col.sm-4 {
    width: 16.66667%;
  }

  .col.sm-5 {
    width: 20.83333%;
  }

  .col.sm-6 {
    width: 25%;
  }

  .col.sm-7 {
    width: 29.16667%;
  }

  .col.sm-8 {
    width: 33.33333%;
  }

  .col.sm-9 {
    width: 37.5%;
  }

  .col.sm-10 {
    width: 41.66667%;
  }

  .col.sm-11 {
    width: 45.83333%;
  }

  .col.sm-12 {
    width: 50%;
  }

  .col.sm-13 {
    width: 54.16667%;
  }

  .col.sm-14 {
    width: 58.33333%;
  }

  .col.sm-15 {
    width: 62.5%;
  }

  .col.sm-16 {
    width: 66.66667%;
  }

  .col.sm-17 {
    width: 70.83333%;
  }

  .col.sm-18 {
    width: 75%;
  }

  .col.sm-19 {
    width: 79.16667%;
  }

  .col.sm-20 {
    width: 83.33333%;
  }

  .col.sm-21 {
    width: 87.5%;
  }

  .col.sm-22 {
    width: 91.66667%;
  }

  .col.sm-23 {
    width: 95.83333%;
  }

  .col.sm-24 {
    width: 100%;
  }

  .team-container {
    max-width: 720px;
  }

  .team-container.constrained {
    max-width: 1024px;
  }

  .person-wrapper {
    min-height: 473px;
  }
}
@media (min-width: 1152px) {
  .col.md-1 {
    width: 4.16667%;
  }

  .col.md-2 {
    width: 8.33333%;
  }

  .col.md-3 {
    width: 12.5%;
  }

  .col.md-4 {
    width: 16.66667%;
  }

  .col.md-5 {
    width: 20.83333%;
  }

  .col.md-6 {
    width: 25%;
  }

  .col.md-7 {
    width: 29.16667%;
  }

  .col.md-8 {
    width: 33.33333%;
  }

  .col.md-9 {
    width: 37.5%;
  }

  .col.md-10 {
    width: 41.66667%;
  }

  .col.md-11 {
    width: 45.83333%;
  }

  .col.md-12 {
    width: 50%;
  }

  .col.md-13 {
    width: 54.16667%;
  }

  .col.md-14 {
    width: 58.33333%;
  }

  .col.md-15 {
    width: 62.5%;
  }

  .col.md-16 {
    width: 66.66667%;
  }

  .col.md-17 {
    width: 70.83333%;
  }

  .col.md-18 {
    width: 75%;
  }

  .col.md-19 {
    width: 79.16667%;
  }

  .col.md-20 {
    width: 83.33333%;
  }

  .col.md-21 {
    width: 87.5%;
  }

  .col.md-22 {
    width: 91.66667%;
  }

  .col.md-23 {
    width: 95.83333%;
  }

  .col.md-24 {
    width: 100%;
  }

  .team-container {
    max-width: 1080px;
  }

  .team-container.constrained {
    max-width: 1024px;
  }

  .person-wrapper {
    min-height: 422px;
  }
}
@media (min-width: 1728px) {
  .col.lg-1 {
    width: 4.16667%;
  }

  .col.lg-2 {
    width: 8.33333%;
  }

  .col.lg-3 {
    width: 12.5%;
  }

  .col.lg-4 {
    width: 16.66667%;
  }

  .col.lg-5 {
    width: 20.83333%;
  }

  .col.lg-6 {
    width: 25%;
  }

  .col.lg-7 {
    width: 29.16667%;
  }

  .col.lg-8 {
    width: 33.33333%;
  }

  .col.lg-9 {
    width: 37.5%;
  }

  .col.lg-10 {
    width: 41.66667%;
  }

  .col.lg-11 {
    width: 45.83333%;
  }

  .col.lg-12 {
    width: 50%;
  }

  .col.lg-13 {
    width: 54.16667%;
  }

  .col.lg-14 {
    width: 58.33333%;
  }

  .col.lg-15 {
    width: 62.5%;
  }

  .col.lg-16 {
    width: 66.66667%;
  }

  .col.lg-17 {
    width: 70.83333%;
  }

  .col.lg-18 {
    width: 75%;
  }

  .col.lg-19 {
    width: 79.16667%;
  }

  .col.lg-20 {
    width: 83.33333%;
  }

  .col.lg-21 {
    width: 87.5%;
  }

  .col.lg-22 {
    width: 91.66667%;
  }

  .col.lg-23 {
    width: 95.83333%;
  }

  .col.lg-24 {
    width: 100%;
  }

  .team-container {
    max-width: 1620px;
  }

  .team-container.constrained {
    max-width: 1024px;
  }

  .person-wrapper {
    min-height: 422px;
  }
}
section.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat bottom/contain;
}

section.section.large > .section-container > .team-container {
  min-height: 768px;
}

@media (min-width: 768px) {
  section.section.large > .section-container > .team-container {
    min-height: 100vh;
  }
}
section.section > .section-container {
  width: 100%;
}

section.section > .section-container > .team-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*padding: 32px 0;*/
}

section.section > .section-container > .team-container.column {
  flex-direction: column;
}

section.section > .section-container > .team-container .head {
  display: inline-block;
}

section.section > .section-container > .team-container .head .title {
  text-align: center;
  margin-bottom: 0.5em;
}

section.section > .section-container > .team-container .head .title:after {
  display: block;
  content: "";
  bottom: 0;
  margin: auto;
  height: 6px;
  width: 96px;
  border-radius: 2px;
  background-color: #4abf9f;
}

section.section > .section-container > .team-container .blurb {
  text-align: center;
}

section.section > .section-container > .team-container .blurb .inner {
  display: inline-block;
  max-width: 20em;
  text-align: left;
}

section.section > .section-container > .team-container .blurb .inner p {
  max-width: 24em;
}

@media (max-width: 1151px) {
  section.section > .section-container > .team-container .image-aside {
    order: 1;
  }
}
section.section > .section-container > .team-container .image-aside img {
  display: block;
  max-width: 100%;
  max-height: 384px;
  height: auto;
  margin: auto;
}

@media (max-width: 1151px) {
  section.section > .section-container > .team-container .image-aside img {
    max-height: 256px;
  }
}
section.section > img.section-divider {
  min-width: 100%;
  min-height: 64px;
}

.person-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding: 16px;
  font-size: 0.8em;
  font-weight: 300;
}

.person-card p {
  font-size: 0.95em;
}

.person-card > .profile-picture {
  object-fit: cover;
  width: 192px;
  height: 192px;
  max-height: 192px;
  max-width: 100%;
  border-radius: 50%;
}

.team-subheading {
  padding-left: 4%;
  padding-top: 4%;
  font-size: medium;
  text-align: center;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.sexy_line {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.divider {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid black;
}

/*FAMILY PAGE*/
#mentor-button {
  background-color: #00d0af;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 550;
  transition: background-color 0.5s;
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
}

#mentor-button:hover {
  background-color: transparent;
  border-color: #00d0af;
  color: #00d0af;
}

.fam-pic {
  margin-right: 8%;
  background-size: cover;
  background-color: transparent;
  text-align: center;
}

.mentor-pic {
  max-height: 210px;
  border-radius: 20px;
}

.mentor-main-card {
  margin-bottom: 3%;
}

.mentor-main-pic {
  max-height: 210px;
  float: left;
  margin-right: 2%;
}

.mentor-inner-left {
  display: inline-block;
  /*width: 70%;*/
  vertical-align: top;
}

.fam-card {
  margin-bottom: 3%;
}

.fam-card-text {
  margin-top: 25px;
}

.fam-container {
  width: 100%;
}

.fam-row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  /*flex: 1;*/
}

.fam-card-house-name {
  font-weight: bold;
  color: #8d8d8d;
}

.fam-card-heads {
  color: #8d8d8d;
}

/*GALLERY*/
.event-cover-button {
  border: none;
  padding: 0;
}

.event-cover-image {
  height: 100px;
}

.gallery-container {
  width: 100%;
}

.flickrwrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.flickrwrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-album-title {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  text-align: center;
  font-size: 18px;
}

.gallery-card {
  margin-bottom: 3%;
  padding: 3.5% 3.5% 0 3.5%;
  text-align: center;
}

/*CONTACT*/
.btn-contact {
  background-color: #4fc0aa;
  border-color: #4fc0aa;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #a8d7ce;
  border-color: #a8d7ce;
}

.form-contact {
  color: #8c8c8c;
  margin-bottom: -1em;
  display: inline-block;
  /*width: 49%  use when officer contacts availalbe*/
  width: 99%;
}

.contact-list {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin-left: 4%;
}

@media (min-width: 650px) {
  .contact-list {
    margin-left: 0px;
  }
}
/*PROJECTS*/
.projectwrap {
  position: relative;
  padding-top: 56.25%;
  padding-bottom: 30px;
  height: 0;
  overflow: hidden;
}

.project-title {
  margin-top: 2.5%;
  text-align: center;
  font-size: 18px;
}

.project-name {
  display: inline;
  display: inline;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
}

.project-date {
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
}

.project-img {
  max-width: 100%;
  border-radius: 1%;
}

.project-wrap {
  padding-bottom: 40.25%;
  padding-top: 0px;
}

/*SPONSOR*/
.sponsor-container {
  width: 100%;
  text-align: center;
}

.sponsor-overview-img {
  background-image: url(../img/backgroundphotos/erin-tinker.jpg);
  background-size: cover;
  margin-right: 4%;
}

.sponsor-help-img {
  background-image: url(../img/jenny-tinker-orig.jpg);
  background-size: cover;
}

.sponsor-yellow-title {
  color: #ffce00;
  text-align: left;
  font-weight: 600;
  font-size: 20;
}

.sponsor-green-title {
  color: #00d0af;
  text-align: left;
  font-weight: 600;
  font-size: 20;
}

.sponsor-green-subtitle {
  color: #00d0af;
  text-align: left;
  font-weight: 500;
  font-size: 18;
}

.sponsor-icon {
  color: #00d0af;
  align-content: center;
  padding-top: 15px;
}

.tiers-wrap {
  padding-top: 0;
  padding-bottom: 77%;
  margin-bottom: 2%;
}

.sponsor-img {
  height: 100px;
  display: inline-block;
  margin: 3%;
}

/*SUBSCRIBE*/
#mc_embed_signup {
  background: #fff;
  clear: left;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  /*width:750px;*/
}

#mc_embed_signup h2 {
  font-size: x-large;
  font-weight: 600;
}

/*FOOTER*/
.footer-container {
  background-color: #a0ebde;
  border-color: #e7e7e7;
  width: 100%;
  font-weight: 600;
}

.footer-block {
  margin-bottom: 2%;
}

.footer-text {
  font-size: 15;
  color: #14806f;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  color: #14806f;
}

/*
    Multicoloured Hover Variations
*/
#social-tw:hover {
  color: #4099ff;
}

#social-gp:hover {
  color: #d34836;
}

#social-em:hover {
  color: #f39c12;
}

/*TESTING LIGHTBULB SVG*/
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
  }
}
@-webkit-keyframes shadowFuck {
  0% {
    -webkit-transform: skew(35deg) rotateX(180deg) translateX(2%);
  }
  100% {
    -webkit-transform: skew(-35deg) rotateX(180deg) translateX(-2%);
  }
}
#bulb {
  width: 100%;
  height: 100%;
  display: block;
  height: 100%;
  width: 117px;
  margin: -30px auto;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -moz-transform-origin: top center;
  -webkit-animation: swing 2s 2s ease-in-out alternate infinite;
  -moz-animation: swing 2s 2s ease-in-out alternate infinite;
  animation: swing 2s 2s ease-in-out alternate infinite;
}

.text {
  position: absolute;
  display: block;
  top: 400px;
  left: 25%;
  height: auto;
  padding: 0;
  width: 50%;
  color: #333;
  text-align: center;
  font-family: "Montserrat";
  font-size: 10vh;
}

.text:before {
  content: "loading...";
}

.shadow:before {
  content: "loading...";
}

.shadow {
  -webkit-transform-origin: bottom;
  top: 400px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-animation: shadowFuck 2s 2s ease-in-out alternate infinite;
  -moz-animation: shadowFuck 2s 2s ease-in-out alternate infinite;
  animation: shadowFuck 2s 2s ease-in-out alternate infinite;
}

/*ANIMATIONS*/
.fade {
  opacity: 1;
  /*opacity:0.5;*/
}

.fade:hover {
  /*border-radius: 0;*/
  box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  /*opacity:1;*/
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
